<style lang="sass" src="partials/collect_item.sass" scoped></style>

<template  lang="pug">
.collect-div
  .item
    .pic
      img.m-img(src="http://lorempixel.com/g/290/160/")
    .bottom-btn
      .dec
        p.title 平面設計
        p.count 
         span.num 381
         | 件精選作品
      .follow-btn
        | 關注
</template>

<script>

export default {
}
</script>