<style lang="sass" src="partials/footer.sass" scoped>

</style>

<template  lang="pug">
footer
  .f-menu
    .left-logo
      img(src="~images/logotype.svg")
      .socials
        a
          i.ly-icon.s-glyph27
        a
          i.ly-icon.s-glyph29
        a
          i.ly-icon.s-glyph35
    ul
      li
        .frist-title
          p 公司
        a
          p 公司介紹
        a
          p 團隊成員
      li
        .frist-title
          p 社群
        a
          p 規則說明
        a
          p 幫助
      li
        .frist-title
          p 權益
        a
          p 服務條款
        a
          p 隱私說明
      li
        .frist-title
          p 合作
        a
          p 廣告服務
        a
          p 廠商合作
      li
        .frist-title
          p 企業
        a
          p 企業會員
        a
          p 企業合作  
  .copyright
    p © 2017 lymma. All Rights Reserved.
</template>

<script>
export default {
}
</script>