<style lang="sass" src="partials/header.sass" scoped></style>

<template  lang="pug">

header
    .main-warp(:class="[isHide]")
        .left-div
            .logo
                router-link(to="/")
                    img(src="~images/blue-logo.svg")
            .nav-name(@click="menuToggle()")
                span 發現
                i.s-glyph16.ly-icon
        .search-div
            form(action="")
                input(placeholder="需要找些什麼嗎？" name="filter" type="text")
                button
                    i.ly-icon.s-glyph05
        .right-div
            button.login-btn.signup(@click='isPop(true)') 註冊
            button.login-btn.pc(@click='isPop(true)') 登入
    transition(name="menuopen")
        Navigation(v-show="menuOpen")
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import Navigation from "./Navigation";
export default {
    data() {
        return {
            isActive: true,
            error: null
        }
    },
    props:[],
    methods: {
        ...mapMutations(['menuToggle','isPop'])
    },
    created() {
        //  let list = ['mousewheel', 'DOMMouseScroll'];
        //  let list = ['scroll' ,'wheel' ,'DOMMouseScroll','mousewheel'];
        //  list.forEach(function(e) {
        //      document.getElementById("app").addEventListener(e, this.handleScroll);
        //  }, this);
    },
    mounted(){
    },
    watch: {
    },
    computed: {
        ...mapGetters(['menuOpen','headShow']),
        isHide(){
             return !this.headShow ? 'hide' : ''            
        }
    },
    components:{
        Navigation,
    },
    destroyed: function () {
        // let list = ['mousewheel', 'DOMMouseScroll'];
        // list.forEach(function(e) {
        //     document.getElementById("app").removeEventListener(e, this.handleScroll);
        // }, this);
    }
}
</script>