<style lang="sass" src="partials/index_header.sass" scoped></style>

<template  lang="pug">

header.index-class
  .main-warp
    .left-div
      .logo
        a(href="/")
          img( src="~images/white-logo.svg")
      .menu
        .warp
          ul
            li
              router-link.link(to="/discover") 探索
            li
              router-link.link(to="/designer") 設計師
            li
              router-link.link(to="/discover") 幫助
    .right-div
      button.login-btn.signup(@click='isPop(true)') 註冊
      button.login-btn.pc(@click='isPop(true)') 登入
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
export default {
    data() {
        return {
            isActive: true,
            error: null,
        }
    },
    props:["isIndex"],
    methods: {
        ...mapMutations(['isPop'])
    },
    created() {
    },
    mounted(){
    },
    watch: {
    },
    computed: {
    },
    components:{
    },
    destroyed: function () {
    }
}
</script>