<style lang="sass" src= "partials/login.sass" scoped></style>

<template  lang="pug">
.popup
  .popup-close
  .popup-div.signup
    .close-btn(@click="isPop(false)")
      i.ly-icon.s-glyph13
    .cover-project
      .cover-img
        img(src="http://lorempixel.com/g/1000/1000")
      .author
        .m-pic
          img(src="http://lorempixel.com/50/50/people")
        a.a-name Evan wu
    .main-div
      .logo-img
        img(src="~images/blue-logo.svg") 
      transition(name="routerFade")
        .login-div.form-div(v-if="popupType==0")
          .b-title
            p 歡迎回來
          .s-title
            | 還不是會員嗎？立即註冊
            a.login-btn2(@click="popupType=1") 成為會員
            | 吧
          form
            input.email(name="email" type="text" placeholder="信箱")
            input.password(name="password" type="password" placeholder="密碼")
            .submit-div
              button.submit(type="submit")
                span 登 入
              .fb-register
                img.svg(src="~images/Facebook-color.svg")
                span 由 Facebook 帳號登入
            .bottom-div
              label.autologin
                input(name="autologin" type="checkbox" value="1")
                span 自動登入此帳戶
              a.getpass(@click="popupType=2")
                | 忘記密碼?
        .signup-div.form-div(v-if="popupType==1")
          form
            .b-title
              p 加入我們
            .s-title
              | 已經是會員了？立即 
              a.login-btn2(@click="popupType=0") 登入會員
              |  吧
            .signup-data
              .fullname
                input.firstname(type="text" name="firstname" placeholder="姓氏")
                input.lastname(type="text" name="lastname" placeholder="名字")
              label
                input.email(type="text" name="email" placeholder="信箱")
              label
                input.password(type="password" name="paddword" placeholder="密碼")
              label
                input.password(type="password" name="password2" placeholder="確認密碼")
              .submit-div
                button.submit(type="submit")
                  span 完成註冊
                .fb-register
                  img.svg(src="~images/Facebook-color.svg")
                  span 由 Facebook 帳號登入
              small
                a(href="" target="_blank") 按下完成註冊鈕時，表示您已詳閱並同意 lymma 的資料使用政策與使用條款
        .getpass-div.form-div(v-if="popupType==2")
          form
            .b-title
              p 忘記密碼?
            .s-title 
              | 輸入您所註冊的信箱地址
            input(type="text" name="email" placeholder="信箱地址")
            button.submit(type="submit") 
              span 寄出
          a.login-btn2(@click="popupType=0")
            | 返回登入
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
export default {
    data() {
        return {
            isActive: true,
            popupType:0,
            error: null
        }
    },
    props:[],
    methods: {
        ...mapMutations(['isPop'])
    },
    created() {
    },
    mounted(){
    },
    watch: {
    },
    computed: {
        ...mapGetters(['menuOpen','headShow']),
    },
    components:{
    },
    destroyed: function () {
    }
}
</script>