<style lang="sass" src="partials/menu.sass" scoped></style>

<template  lang="pug">
.nav-menu
  .menu
    .warp
      p.tab-title 導覽列
      ul
        li
          router-link.link(to="/discover") 探索
        li
          router-link.link(to="/designer") 設計師
        li
          router-link.link(to="/discover") 幫助
    .warp
      p.tab-title 導覽列
      ul
        li
          router-link.link(to="") 商務模式
        li
          router-link.link(to="/designer") 貝殼規則
        li
          router-link.link(to="/about") 關於 lymma
        li
          router-link.link(to="/about") 廠商合作
    .bottom-div
      router-link.sub-link(to="/") 服務條款
      router-link.sub-link(to="/") 隱私聲明
  .menu-clear(@click='menuToggle(false)')
</template>

<script>

import { mapGetters, mapActions , mapMutations } from 'vuex';
export default {
    data() {
        return {
        }
    },
    methods: {
        ...mapMutations(['menuToggle'])
    },
    mounted(){
    },
    props:[""],
    watch: {
    },
    computed: {
      logoUrl() {
        return 
      }
    },
    components:{
    }
}
</script>