<style lang="sass" src="partials/project_item.sass" scoped></style>

<template  lang="pug">
.project.laod
  .item
    .pic
      a.work-link
        .m-img
          div
      .edit-div
        .m-btn
          i.ly-icon
        .s-btn
          i.ly-icon.s-glyph38
        .e-div
          a.edit
            .edit-btn
              i.ly-icon.s-glyph06
              span 編輯
          a.del
            .del-btn
              i.ly-icon.s-glyph20
              span 刪除
        .like-btn
          i.ly-icon.s-glyph24
          i.ly-icon.s-glyph25.f
    .bottom-btn
      .dec
        .m
          a.work-link(title="")
            p.title Branding Book & Style Guide …
      .b
        a.member
          .photo
            img(src="http://lorempixel.com/50/50/people")
          span.name Person Name
        .datas
          .like
            i.ly-icon.s-glyph25
            span.num 10
          .msg
            i.ly-icon.s-glyph26
            span.num 10
</template>

<script>

export default {
}
</script>