- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
doctype
html
    head
        meta(charset='UTF-8')
        title lymma: 探索&學習設計最佳的平台
        meta(content="lymma" name="author")
        meta(content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1" name="viewport")
        meta(content="1102319189864145" property="fb:app_id")
        meta(name="description" content="lymma 聚集來自世界最優秀的華人設計師平台，在這裡你能輕鬆找到各式類型的設計師與作品，從中啟發更多靈感與創作的動力，以創造一個互相成長與學習的環境。")
        meta(name="application-name" content="lymma")
        meta(itemprop="name" content="lymma")
        if devMode
          link(rel="shortcut icon" type="image/ico" href="assets/images/favicon.png")
          meta(itemprop="image" content="assets/images/Seo_flowing.jpg")
        else
          link(rel="shortcut icon" type="image/ico" href="/assets/images/favicon.png")
          meta(itemprop="image" content="/assets/images/meta-image.jpg")
        meta(property="og:type" content="article")
        meta(property = "og:description" content= "lymma 聚集來自世界最優秀的華人設計師平台，在這裡你能輕鬆找到各式類型的設計師與作品，從中啟發更多靈感與創作的動力，以創造一個互相成長與學習的環境。")
        if !devMode
          <!-- Google Tag Manager -->
          script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WD2STN4');
          <!-- End Google Tag Manager --> 
    body
        #app
        //- script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js')
        //- IE11 
        script(src='//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js')