.none-fix  
  position: fixed  
  left: -100%  
  top: -100% 
  
#go-top  
  display: none  
  position: fixed  
  right: 10px  
  bottom: 10px  
  width: 40px  
  height: 40px  
  background-color: #fff  
  text-align: center  
  z-index: 3  
  +transform(translateZ(0))  
  +border-radius(50%)  
  +box-shadow(5px 5px 15px -2px rgba(189,189,189,0.7))  
  +animation(fadein 1s)  
  font-size: 0  
  cursor: pointer  
  &:after  
    content: ""  
    display: inline-block  
    height: 100%  
    vertical-align: middle  
    
  i  
    color: #8c8c8c  
    font-size: 16px  
    display: inline-block  
    vertical-align: middle  
  +rwd($pad) 
    right: 30px  
    bottom: 30px  
    
.submit,.search-btn,.save  
  position: relative 
  &.loading  
    span  
      opacity: 0  
      
    &:after  
      content: ""  
      position: absolute  
      width: 12px  
      height: 12px  
      top: 50%  
      left: 50%  
      border-radius: 50%  
      border: solid 2px rgba(255, 255,255, 1)  
      border-top-color: rgba(255, 255,255, 0)  
      +transform(translate(-50%, -50%) rotate(0deg))  
      +animation(spin .8s infinite linear)  
      
.transparent.loading:after  
  border: solid 2px rgba(54, 54,54, 1)  
  border-top-color: rgba(54, 54,54, 0)  
  