@charset "UTF-8"
@import "compass/css3"
@import "ceaser-easing"
@import "setup/setup"
@import "partials/mixin"

@mixin mail_mail() 
  body 
    margin: 0
    padding: 40px 0
    width: 100%
    background-color: $gray9

  .mailwarp 
    width: 100%
    max-width: 525px
    text-align: center
    margin: 0 auto
    .logo 
      margin-bottom: 30px
      
    >p 
      color: #363636
      font-size: 16px
      margin-bottom: 30px
      
    .btn 
      width: 300px
      line-height: 30px
      font-size: 14px
      background-color: $red1
      @include border-radius(7px)
      color: #fff
      margin: 60px auto 0px
      
    footer 
      margin-top: 30px
      .f_menu 
        color: #D8E2E7
        margin-top: 20px
        font-size: 12px
        a 
          display: inline-block
          margin: 0px 7px 0px
          
      .copyright 
        color: #D8E2E7
        margin-top: 10px
        font-size: 12px
        
      .socially 
        margin-top: 10px
        text-align: center
        a 
          margin: 0px 7px 
          &:after 
            content: ""
            vertical-align: middle
            display: inline-block
            height: 100%
            
          >i,
          >img 
            color: #D8E2E7
            display: inline-block
            vertical-align: middle
            font-size: 20px
            
  @content
    