@charset "UTF-8"
@import "setup/setup"   //important include

@import "setup/normalize"
@import "setup/font"


// @import "partials/silde"
// @import "partials/datepicker"
// @import "global"
// @import "cropper"


*
  box-sizing: border-box

.socicon
  font-family: "socicon"
  font-size: 20px
html
  width: 100%
  overflow-x: hidden
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale	
  background-color: $gray9


body
  -webkit-overflow-scrolling: touch
  font-family: 'Roboto','sourcehansans-tc','Microsoft JhengHei', 'Helvetica Neue', Arial, Helvetica, sans-serif
  width: 100%
  height: 100%
    
a
  outline: none
  color: inherit
  text-decoration: none


ul
  list-style-type: none


h1,h2,h3,h4,h5
  color: $gray1
  line-height: 1.5
  font-weight: 600

h1
  font-size: 38px
  +rwd($pad)
    font-size: 44px
  
  +rwd($desktop-w)
    font-size: 48px
  

h4
  font-size: 18px
  +rwd($pad)
    font-size: 22px
  
  +rwd($desktop-w)
    font-size: 24px
  

h5
  font-size: 14px
  +rwd($pad)
    font-size: 18px
  
  +rwd($desktop-w)
    font-size: 20px
#app
  width: 100%
  height: 100%
  overflow-x: hidden;
  &.menu-open
    overflow: hidden
  #warp
    min-height: 100%
    padding-bottom: 129px
    position: relative
    +rwd($pad)
      padding-top: $header_hight
      padding-bottom: 288px	
      