.privity
	.content
		max-width: 1100px
		padding: 0px 20px
		margin-top: 40px
		margin-left: auto
		margin-right: auto
		+rwd($pad) 
			margin-top: 75px
			
		h5
			font-weight: 600
			font-size: 24px
			line-height: 1.3
			margin-bottom: 20px
			
		p
			margin-bottom: 25px
			font-size: 14px
			line-height: 24px
			font-weight: 500
			
.about
	.about-div
		.banner
			width: 100%
			height: 200px
			background: image-url("about-img.jpg") center / cover no-repeat
			+rwd($pad) 
				height: 300px
				
		.content
			padding: 40px 20px
			max-width: 1240px
			font-size: 0
			margin-left: auto
			margin-right: auto
			text-align: left
			+rwd($pad)
				padding: 60px 20px
				
			.logo
				width: 135px
				margin-bottom: 40px
				display: block
				
			h5
				font-weight: 600
				font-size: 24px
				line-height: 1.3
				margin-bottom: 20px
				
			p.t
				margin-bottom: 35px
				font-size: 14px
				line-height: 24px
				font-weight: 500
				
			.left
				display: inline-block
				width: 100%
				vertical-align: top
				+rwd($desktop) 
					width: calc(100% - 440px)
					padding-right: 40px
					
				+rwd($desktop-w) 
					padding-right: 150px
					
			.right
				display: inline-block
				width: 100%
				vertical-align: top
				+rwd($desktop) 
					width: 440px
					
				label>p
					font-size: 14px
					line-height: 1.5
					color: #8b8b8b
					text-align: left
					
				input[type=text],textarea
					width: 100%
					color: #8b8b8b
					font-weight: 500
					border: 1px solid #e7e7e7
					+border-radius(3px)
					font-size: 14px
					line-height: 36px
					padding: 0 10px
					margin-bottom: 15px
					text-align:left
					
				textarea
					height: 110px
					
				.submit
					margin-top: 20px
					position: relative
					width: 120px
					font-size: 14px
					text-align: center
					display: inline-block
					background-color: $blue2
					+border-radius(3px)
					color: #fff
					line-height: 30px
					font-weight: 600
					border: 0
					+transition(all .2s ease-out)
					+rwd($desktop) 
						&:hover
							opacity: .7
							
				.fullname
					position: relative
					display: inline-block
					width: 100%
					font-size: 0
					.lastname
						width: calc(41% - 10px)
						display: inline-block
						margin-right: 10px
						
					.firstname
						width: 59%
						display: inline-block
						