.account
	.warpper>form
		width: 100%
		position: relative
		
	.secondary
		width: 100%
		background-color: #fff
		border: 1px solid #E8E8E8
		ul
			font-size: 0px
			text-align: center
			li
				display: inline-block
				opacity: .4
				cursor: pointer
				+transition(opacity .3s ease)
				margin: 0px 20px
				p
					font-size: 14px
					line-height: 40px
					color: $gray1
					font-weight: 500
					
				&.on
					opacity: 1
					
			&:after
				content: ""
				width: 100%
				display: inline-block
				
	.profile,.changepass,.invite
		margin: 0 auto 60px
		max-width: 980px
		display: none
		h5
			font-size: 28px
			font-weight: 500
			line-height: 42px
			margin: 35px 0px
			text-align: center
			
	.profile
		display: block
		
	.form-div		
		border: 1px solid $gray6
		background-color: #fff
		width: 100%
		text-align: center
		.s-title
			font-size: 18px
			text-align: center
			border-bottom: 1px solid $gray6
			padding: 30px 0
			font-weight: 500
			&.t
				border-top: 1px solid $gray6
				margin-top: 70px
				
		.picture 
			display: inline-block
			border: 3px solid #fff
			+border-radius(50%)
			margin-bottom: 50px
			.default-img 
				position: relative
				width: 120px
				height: 120px
				vertical-align: middle
				overflow: hidden
				background-color: #efefef
				+border-radius(50%)
				
			.upload-picture
				display: none
				width: 100%
				position: absolute
				top: 50%
				left: 50%
				cursor: pointer
				+rwd($desktop) 
					display: block
					
				+transform(translate(-50%, -50%))
				input[type=file] 
					visibility: hidden
					position: absolute
					
				&.type2                    
					top: initial
					bottom: 0px
					width: 30px
					padding: 5px
					+border-radius(3px)
					+transition(all .3s ease)
					&:hover
						background: rgba(54,54,54,.7)
						
					.camera
						color: $gray9
						i
							font-size: 19px
						
		.d-main
			text-align: center
			width: 100%
			max-width: 680px
			margin: 30px auto 0px
			padding: 0 20px
			+rwd($pad) 
				padding: 0
				
			&:last-child
				border-bottom: 0px
				
		.search-btn,.submit 
			width: 160px
			text-align: center
			padding: 0
			color: #fff
			background-color: $blue2
			border: 0
			+border-radius(5px)
			margin: 55px auto
			&.search-btn
				margin: 10px
				+rwd($pad)
					margin: 0
					
			span
				font-size: 16px
				font-weight: 500
				line-height: 40px
				
			+rwd($desktop) 
				&:hover
					opacity: .7
					
		.users
			margin: 20px auto
			.user
				margin-top: 20px
				padding: 15px 0px
				border-bottom: 1px solid $gray7
				+rwd($pad) 
					position: relative
					font-size: 0
					
				.user-name
					display: inline-block
					vertical-align: middle
					width: 50%
					text-align: left
					+rwd($pad) 
						width: (100%/3)
						
					.photo
						display: inline-block
						margin-right: 10px
						vertical-align: middle
						img
							+border-radius(50%)
							width: 36px
							
					.m-info
						text-align: left
						display: inline-block
						vertical-align: middle
						.name
							font-size: 16px
							line-height: 19px
							color: $gray1
							font-weight: 900
							
						.post
							font-size: 12px
							color: $gray4
							display: block
							line-height: 14px
							
				.email
					display: inline-block
					width: 50%
					vertical-align: middle
					text-align: center
					color: $gray3
					margin-top: 3px
					font-size: 14px
					+rwd($pad) 
						display: inline-block
						margin-top: 0px
						width: (100%/3)
						
				.check
					display: inline-block
					vertical-align: middle
					width: 100%
					text-align: center
					margin-top: 20px
					+rwd($pad) 
						width: (100%/3)
						margin-top: 0
						text-align: right
						
					>span
						display: inline-block
						width: 160px
						line-height: 28px
						font-size: 12px
						font-weight: 500
						text-align: center
						+border-radius(5px)
						&.o
							border: 1px solid $blue2
							background-color: $blue2
							color: #fff
							
						&.n
							border: 1px solid $gray2
							color: $gray2
							
	.list
		position: relative
		display: inline-block
		width: 100%
		font-size: 0
		margin-bottom: 20px
		+rwd($pad) 
			+display-flex(flex)
			+align-items(center)
			+justify-content(flex-end)
			
		&:last-child
			margin-bottom: 0px
			
		.g
			+display-flex(flex)
			+align-items(center)
			+justify-content(space-between)		
			width: 100%
			max-width: 530px
			position: relative		
			
		label
			width: 100%
			max-width: 530px
			display: inline-block
			position: relative
			&.l
				width: percentage(245/530)
				
			&.r
				width: percentage(265/530)
				
		>p
			text-align: left
			font-size: 14px
			color: $gray2
			font-weight: 500
			margin-right: 20px
			margin-bottom: 5px
			display: block
			+rwd($pad) 
				text-align: right
				display: inline-block
				margin-bottom: 0
				
			i
				font-size: 20px
				color: $gray2
				
	.search-bar label
		width: 100%
		+rwd($pad)
			width: calc(100% - 100px - 160px - 16px)
			margin-right: 16px
			
	input,textarea,select
		-webkit-appearance: none
		appearance: none
		width: 100%
		color: $gray1 
		font-weight: 500
		border: 1px solid #e7e7e7
		+border-radius(5px)
		font-size: 14px
		line-height: 40px
		padding: 0 10px
		text-align: left
		height: 42px
		background-color: transparent
		&[readonly]
			border: 0px
			
	select
		background: image-url("arrow-down.png") 95% center / 8px no-repeat
		
	textarea 
		width: 100%
		height: 110px
		line-height: 1.5
		