.activity-div	
	font-size: 0
	margin-left: auto
	margin-right: auto
	text-align: center
	+rwd($mobile) 
		max-width: 656px
		margin-top: 30px
		
	+rwd($desktop) 
		text-align: left
		max-width: 984px
		margin-top: 40px
		
	+rwd($desktop-w) 
		max-width: 1312px
		
	.s-title
		padding: 0 24px
		
	.item
		text-align: center
		position: relative
		display: block
		border: 1px solid $gray6
		margin-bottom: 30px
		background-color: #fff
		margin-left: auto
		margin-right: auto
		vertical-align: top
		+rwd($mobile) 
			display: inline-block
			margin-left: 24px
			margin-right: 24px
			
		&.top
			border-top: 0px
			border-left: 0px
			border-right: 0px
			max-width: 608px
			+rwd($desktop) 
				border-top: 1px solid $gray6
				border-left: 1px solid $gray6
				border-right: 1px solid $gray6
				
			.btn
				margin-bottom: 7px
				
			.bottom
				border-top: 0px
				
			.title
				margin-bottom: 20px
				height: 55px
				text-align: left
				
			.subtitle
				margin-right: 10px
				
		&:not(.top)
			max-width: 280px
			+border-radius(3px 3px 0 0)
			.title
				height: 64px
				
			.btn
				+transform(translateY(50%))
				
		.pic
			margin-bottom: 10px
			
		.btn
			display: inline-block
			width: 110px
			font-size: 13px
			color: #fff
			font-weight: 600
			line-height: 28px
			background-color: $blue2
			+border-radius(3px)
			+transition(all .3s ease-in-out)
			+rwd($desktop) 
				&:hover
					opacity: .7
					
		.mid
			padding: 0 15px
			
		.bottom
			padding: 5px 15px
			border-top: 1px solid $gray6
			+display-flex(flex)
			+align-items(center)
			+justify-content(space-between)
			
		.title
			font-size: 18px
			line-height: 23px
			font-weight: 600
			color: $gray1
			margin-top: 10px
			overflow: hidden
			
		.subtitle,.date
			display: inline-block
			font-size: 13px
			line-height: 21px
			font-weight: 500
			color: $gray2
			