.check-div
	text-align: center
	padding: 30px 0px
	+rwd($pad) 
		padding: 0px
		height: calc(100vh - 65px - 61px)
		&:after
			height: 100%
			display: inline-block
			vertical-align: middle
			content: ""
			
	.content
		display: inline-block
		vertical-align: middle
		>img
			width: 50%
			+rwd($pad) 
				width: auto
				
		.title
			margin-top: 30px
			font-size: 22px
			line-height: 33px
			color: $gray1
			font-weight: 600
			
		.info
			margin-top: 10px
			font-size: 16px
			line-height: 21px
			color: $gray1
			font-weight: 400
			
		.back
			margin-top: 25px
			+border-radius(5px)
			background-color: $blue2
			color: #fff
			font-size: 16px
			font-weight: 500
			line-height: 40px
			width: 161px
			text-align: center
			display: inline-block
			
		small
			display: block
			font-size: 13px
			color: $gray3
			margin-top: 10px
			