.project-div 
	.designer-list 
		font-size: 0
		@extend %main-size
		+rwd($pad) 
			padding: 0px 10px
			
		.designer 
			text-align: center
			border: 1px solid $gray6
			overflow: hidden
			padding: 15px
			background-color: #fff
			margin: 15px 0px
			overflow: hidden
			+border-radius(3px)
			+rwd($desktop) 
				padding: 15px 35px
			
			+rwd($desktop) 
				font-size: 0
				width: 100%
				+display-flex(inline-flex)
				+align-items(center)
				+justify-content(space-between)
				
			+rwd($desktop-w) 
				padding: 20px 35px
				
			.member-info 
				display: inline-block
				margin-bottom: 20px
				+rwd($desktop) 
					margin-bottom: 0
					
				.profile 
					width: 125px
					height: 125px
					display: inline-block
					vertical-align: middle
					overflow: hidden
					+border-radius(50%)
					position: relative
					&:before
						content: ""
						height: 100%
						display: inline-block
						vertical-align: middle
					>img
						display: inline-block
						vertical-align: middle
					+rwd($pad) 
						+transition(opacity .3s ease)
						&:hover 
							opacity: .7
							
				.info 
					display: block
					vertical-align: middle
					margin-top: 15px
					text-align: center
					+rwd($pad) 
						text-align: left
						display: inline-block						
						margin-top: 0px
						padding-left: 25px
						
					.mid-div
						margin: 10px 0px 10px
						
					.main-name 
						display: inline-block
						font-weight: 700
						color: $gray1
						.name 
							font-size: 18px
							font-weight: 900
							vertical-align: middle
							display: inline-block
							+rwd($pad) 
								font-size: 26px
								+transition(opacity .3s ease)
								&:hover 
									opacity: .7
									
					.txt 
						display: inline-block
						vertical-align: middle
						color: $gray1
						font-size: 16px
						font-weight: 900
						line-height: 21px
						
					.s-data 
						display: inline-block
						vertical-align: middle
						margin-left: 0px
						.location 
							$fz: 13px
							display: inline-block
							font-size: $fz
							color: $gray3
							vertical-align: middle
							i 
								font-size: ($fz+7)
								vertical-align: middle
								
							p 
								display: inline-block
								vertical-align: middle
								
						.socials 
							margin-top: 10px
							i 
								margin-right: 10px
								font-size: 14px
								vertical-align: middle
								color: #c0c0c0
								
					.follow-btn
						@extend %follow-btn
						display: inline-block
						vertical-align: middle
						margin-left: 10px
						
					.f-data
						font-size: 13px
						color: $gray4
						display: inline-block
						margin-left: 15px
						vertical-align: middle
						i
							font-size: 16px
							
						>p
							display: inline-block
							vertical-align: middle
							
			.photos 
				width: 100%
				+rwd($desktop) 
					width: auto
					display: inline-block
					vertical-align: middle
					
				.pics 
					position: relative
					margin-left: -2px
					overflow: hidden
					+rwd($pad) 
						+transition(opacity .3s ease)
						&:hover 
							opacity: .7
							
					.pic 
						vertical-align: top
						display: inline-block
						width: 33.3333%
						margin: 0 3px
						overflow: hidden
						+border-radius(5px)
						+rwd($pad) 
							width: 25%
							
						+rwd($desktop) 
							margin: 0px 0px 0px 15px
							width: auto
							height: 115px
							img 
								height: 100%
								
						+rwd($desktop-w) 
							height: 155px
							
						&:nth-child(4) 
							display: none
							+rwd($pad) 
								display: inline-block
								
							+rwd($desktop) 
								display: none
								
							+rwd($desktop-hd) 
								display: inline-block
								