.warpper
	.error
		text-align: center
		padding: 30px 0px
		+rwd($pad) 
			padding: 0px
			height: calc(100vh - 65px - 61px)
			&:after
				height: 100%
				display: inline-block
				vertical-align: middle
				content: ""
				
		.content
			display: inline-block
			vertical-align: middle
			>img
				width: 50%
				+rwd($pad) 
					width: auto
					
				&.op
					margin-left: 20px
					
			.oops
				font-family: "Roboto"
				font-size: 70px
				line-height: 82px
				font-weight: 500
				color: $blue2
				margin-top: 25px
				
			.title
				margin-top: 30px
				font-size: 22px
				line-height: 33px
				color: $gray1
				font-weight: 600
				
			.info
				margin-top: 10px
				font-size: 14px
				line-height: 21px
				color: $gray3
				font-weight: 500
				
			.back
				margin-top: 25px
				+border-radius(5px)
				background-color: $blue2
				color: #fff
				font-size: 16px
				font-weight: 500
				line-height: 40px
				width: 161px
				text-align: center
				display: inline-block
				
			.back2
				margin-top: 25px
				+border-radius(5px)
				background-color: $blue2
				color: #fff
				font-size: 16px
				font-weight: 500
				line-height: 40px
				max-width: 615px
				text-align: center
				width: 95%
				display: inline-block
				