
$btn-height:37px
$btn-height2:37px

#warp.discover,#warp.search
	.warpper
		.project-div
			+rwd($pad) 
				padding-top: 45px
				.bgm
					height: 45px
					
				.btns ul li span					
					line-height: 43px
					
			.bgm
				position: relative
				+rwd($pad) 
					position: absolute
					top: 0
					
		.search-page
			padding-top: 0px
			.search-bar
				background-color: #fff
				position: relative
				width: 100%
				z-index: 2
				.top,.bottom
					&>div
						@extend %main-size
						position: relative
						
				.top
					width: 100%
					border-bottom: 1px solid #e0e0e0
					.a
						position: relative
						&>i
							position: absolute
							left: 0
							font-size: 24px
							line-height: 50px
							
					button
						top: 0
						left: 0
						position: absolute
						border: 0px
						font-size: 0
						width: 45px
						height: 45px
						background-color: transparent
						&:hover
							opacity: .8
							
						>i
							color: $gray1
							font-size: 24px
							line-height: 45px
							
					input
						width: 100%
						font-size: 20px
						line-height: 45px
						vertical-align: middle
						padding: 0px 40px 0px 60px
						border: 0px
						background-color: #fff
						
					.count
						color: $gray4
						font-size: 14px
						line-height: 45px
						display: inline-block
						vertical-align: middle
						position: absolute
						right: 0
						top: 0
						
				.bottom
					border-bottom: 1px solid #e0e0e0
					.icon
						vertical-align: top
						border-left: 1px solid #e0e0e0
						border-right: 1px solid #e0e0e0
						display: inline-block
						padding: 0 12px
						font-size: 0
						margin-right: 10px
						i
							font-size: 14px
							line-height: 30px
							display: inline-block
							vertical-align: middle
							margin-right: 11px
							
						span
							display: inline-block
							vertical-align: middle
							font-size: 14px
							margin-top: 2px
							
					select
						background: image-url("arrow-down.png") 95% center / 8px no-repeat, #fff
						-webkit-appearance: none
						appearance: none
						vertical-align: top
						text-align: center
						display: inline-block
						border: 0px
						font-size: 14px
						height: 30px
						cursor: pointer
						padding-right: 15px
						
#warp.index
	.warpper
		.project-div
			padding-top: ($btn-height + 1)
			+rwd($pad) 
				padding-top: ($btn-height2 + 1)
				
.warpper
	.more_project
		text-align: center
		margin-top: 40px
		padding: 0 20px
		.title
			font-size: 16px
			color: $gray1
			margin-bottom: 30px
			font-weight: 600
			line-height: 1.5
			
		.login-btn
			display: inline-block
			+border-radius(5px)
			background-color: $blue2
			max-width: 610px
			width: 100%
			+transition(all .3s ease-in-out)
			+rwd($desktop) 
				&:hover
					opacity: .7
					
			span
				display: block
				font-size: 16px
				color: #fff
				line-height: 38px
				font-weight: 500
				
	.project-div
		position: relative
		padding-bottom: 60px
		&.fix 
			.bgm
				position: fixed
				+transform(translateZ(0))
				top: 0
				.s-logo
					opacity: 1
					
			.search-bar
				position: fixed !important
				+transform(translateZ(0))
				top: 0
							
		.bgm
			+zindex("fixmenu")
			position: absolute
			text-align: center
			background-color: #fff
			border-top: 1px	solid $gray6
			border-bottom: 1px	solid $gray6
			height: $btn-height
			width: 100%
			left: 0
			top: 0
			+rwd($pad) 
				height: $btn-height2
				
		.btns
			@extend %main-size			
			position: relative
			height: 100%
			.s-logo
				display: inline-block
				position: absolute
				left: 20px
				top: 0
				float: left
				height: 100%
				padding: 5px 0px
				opacity: 0 
				+transition(opacity .4s)
				+rwd($pad) 
					padding: 10px 0px
					left: 30px
					
				>img
					height: 100%
					
			ul
				display: inline-block
				li
					position: relative
					display: inline-block
					margin: 0px 10px
					cursor: pointer
					padding: 0 1px
					span
						display: inline-block
						display: block
						font-size: 14px
						font-weight: 600
						line-height: ($btn-height - 2)
						color: $gray3
						+rwd($pad) 
							line-height: ($btn-height2 - 2)
							
					&:after
						content: ""
						position: absolute
						height: 3px
						width: 100%
						bottom: -1px
						left: 0
						opacity: 0
						+transition(all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1))
						background-color: $blue2
						
					&.on,&:hover
						span
							color: $gray1

					&.on:after
						opacity: 1
						
		.project-banners
			position: relative

			.fotorama__nav-wrap
				position: absolute
				bottom: 5px    
				right: 10px
				+rwd($pad)
					bottom: 10px
					right: 50px
					
				.fotorama__nav--dots
					width: auto !important
					
			.banner
				height: 250px
				width: 100%
				overflow: hidden

				img
					max-width: none
					min-width: 100%
					min-height: 100%
					margin-left: 50%
					+transform(translateX(-50%))
					
				.info
					position: absolute
					left: 50%
					top: 50%
					text-align: center
					line-height: 1.4
					width: 100%
					max-width: 500px
					padding: 0px 15px
					+transform(translate(-50%,-50%))
					.subtitle
						margin-top: 15px
						font-size: 13px
						font-weight: 700
						+rwd($pad)
							font-size: 15px
							
					.title
						margin-top: 10px
						font-size: 30px
						font-weight: 700
						+rwd($pad)
							font-size: 40px
							
					>span
						display: block
						margin-top: 10px
						font-size: 12px
						+rwd($pad)
							font-size: 13px
							
					&.c1
						color: $gray9
						.btn
							+trn-btn($gray9)
							
					&.c2
						color: $gray1
						.btn
							+trn-btn($gray1)
							
		.project-list
			display: none
			position: relative
			font-size: 0
			text-align: center			
			margin: 0 auto
			@extend %project_size
			+rwd($desktop) 
				text-align: left
				
			&.on
				display: block
				
			&.loading				
				&:after
					content: ""
					position: absolute
					left: 50%
					top: 100%
					width: 20px
					height: 20px
					margin: 0 auto
					border-radius: 50%
					border: solid 2px $blue2
					border-top-color: rgba($blue2, .3)
					+transform(translate(-50%, -50%) rotate(0deg))
					+animation(spin .8s infinite linear)
					
			.project
				@extend %project
				
			.nof
				font-size: 20px
				font-weight: 600
				text-align: center
				padding: 30px 0
				
		.more
			text-align: center
			margin-top: 30px
			margin-bottom: 10px
			+rwd($pad) 
				margin-top: 70px
				margin-bottom: 30px
				
			.btn
				@extend %red-btn
				