.profile 
  .member-div 
    text-align: center
    border-bottom: 1px solid #ececec
    background-color: #fff
    .big-cover 
      height: 180px
      width: 100%
      overflow: hidden
      position: relative
      +rwd($desktop) 
        min-height: 300px
        height: auto
        
      .default-cover 
        max-width: none
        min-width: 100%
        height: 100%
        margin-left: 50%
        +transform(translateX(-50%))
        background-color: #efefef
        position: absolute
        .cimg 
          width: 100%
          height: 100%
          background-size: cover
          background-position: center
          
      .save-btns 
        position: absolute
        right: 20px
        bottom: 10px
        display: none
        .save 
          display: inline-block
          cursor: pointer
          color: #fff
          background-color: $blue2
          +border-radius(3px)
          padding: 7px 11px
          margin: 0px 7px
          font-size: 12px
          line-height: 1
          
        .cls 
          cursor: pointer
          display: inline-block
          color: #fff
          background-color: #363636
          +border-radius(3px)
          padding: 7px 11px
          font-size: 12px
          line-height: 1
          
    label[class*=upload-] 
      position: absolute
      top: 50%
      left: 50%
      cursor: pointer
      +transform(translate(-50%, -50%))
      input[type=file] 
        visibility: hidden
        position: absolute
        
      .camera 
        >img 
          width: 17px
          margin-right: 5px
          vertical-align: middle
        
        span 
          font-size: 14px
          line-height: 1
          font-weight: 600
          margin-top: 3px
          vertical-align: middle
          display: inline-block
          
      .rule 
        font-size: 12px
        margin-top: 10px
        color: #999999
        
      &.upload-cover.type2 
        left: initial
        left: 20px
        top: 10px
        +transform(translate(0, 0))
        background-color: transparent
        padding: 5px 10px
        +border-radius(3px)
        +transition(all .3s ease-in-out)
        display: none
        +rwd($desktop) 
          display: block
          
        &:hover 
          background-color: rgba(54, 54, 54, .7)
          
        .camera 
          color: $gray9
          i
            font-size: 19px
          
      &.upload-picture
        display: none
        width: 100%
        +rwd($desktop) 
          display: block
          
        &.type2          
          top: initial
          bottom: 0px
          width: auto
          padding: 5px
          +border-radius(3px)
          +transition(all .3s ease)
          &:hover
            background: rgba(54,54,54,.7)
            
          .camera
            color: $gray9
            i
              font-size: 19px
            
    .member-profile 
      @extend %project_size
      position: relative
      z-index: 1
      padding-bottom: 15px
      padding-top: 15px
      +rwd($desktop) 
        +display-flex(flex)
        +justify-content(space-between)
        +align-items(flex-end)
        .left-div
          text-align: left     
          +flex(6 0)
      .open-btn
        text-align: center
        margin-top: 15px
        +rwd($desktop)
          display: none
        i
          display: block
          font-size: 12px
          &:last-child
            margin-top: -7px
      .right-div
        display: none
        text-align: center
        padding-top: 40px
        padding-bottom: 16px
        +rwd($desktop) 
          display: inline-block
          text-align: right
          +flex(4 0)
          padding-top: 0

      .datas 
        font-size: 0
          
        >div
          display: inline-block
          // padding: 5px 0px
          margin-right: 15px
          &:last-child
            margin-right: 0
          .n
            font-size: 16px
            color: $gray1
            display: inline-block
            vertical-align: middle
            margin-right: 5px
            
          .t
            display: inline-block
            vertical-align: middle
            font-size: 13px
            color: $gray1
            
      .picture 
        display: block
        vertical-align: middle
        +border-radius(50%)
        +rwd($pad)
          display: inline-block
          
        .default-img 
          position: relative
          width: 122px
          height: 122px
          vertical-align: middle
          overflow: hidden
          border: 2px solid $gray8
          background-color: #efefef
          margin: 0 auto
          +border-radius(50%)
          &:before
            content: ""
            height: 100%
            display: inline-block
            vertical-align: middle
          >img
            display: inline-block
            vertical-align: middle
      .info-div 
        display: block
        vertical-align: middle
        margin-top: 10px
        +rwd($pad) 
          display: inline-block
          margin-top: 0px
          margin-left: 25px
          
        +rwd($desktop) 
          text-align: left
          .m-name
            direction: rtl
        .follow-btn
          @extend %follow-btn
          width: 105px
          vertical-align: middle
          +rwd($pad)
            margin-left: 15px
          
        .name 
          vertical-align: middle
          display: block
          font-size: 26px
          font-weight: 900
          color: $gray1
          margin-top: 10px
          +rwd($pad) 
            display: inline-block
            margin-top: 0
          +rwd($desktop)
            direction: ltr
        .post 
          color: $gray1
          font-size: 16px
          font-weight: 900
          line-height: 21px
          margin: 10px 0px
          
        .text 
          color: $gray3
          font-size: 15px
          margin-top: 15px
          line-height: 1.3
          margin-left: auto
          margin-right: auto
          width: 100%
          +rwd($pad) 
            width: 90%
            
          +rwd($desktop) 
            width: 70%
            
        .location 
          color: $gray3
          // margin-top: 20px
          font-size: 15px
          i 
            margin-right: 5px
            vertical-align: bottom
            font-size: 18px
            
      .socially 
        margin-top: 15px
        >a
          display: inline-block
          vertical-align: middle
          &:last-child i
            margin-right: 0px
        i 
          font-size: 20px
          opacity: .4
          margin: 0 5px
          color: $gray1
          display: inline-block
            
          &:hover 
            opacity: 1
            