.popup 
	position: fixed
	+zindex("popup")
	width: 100vw
	height: 100vh
	top: 0
	left: 0
	overflow-y: auto
	+transform(translateZ(0))
	+animation( fadein 1s)
	background-color: rgba(0, 0, 0, .7)
	+rwd($desktop) 
		text-align: center
		font-size: 0
		+display-flex(inline-flex)
		+align-items(center)
		+justify-content(center)
		
	&.login-pop 
		// background: #fff
		+display-flex(inline-flex)
		+align-items(center)
		+justify-content(center)
		+rwd($pad) 
			background-color: rgba(0, 0, 0, .7)
			
	.popup-div 
		position: relative
		width: 100%
		background-color: #fff
		text-align: center
		font-size: 0
		overflow: hidden
		padding: 20px 0
		+border-radius(6px)
		+rwd($pad) 
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2)
			padding: 20px
			width: auto
			height: auto
			
		&.signup 
			width: 98vw
			height: 97vh
			padding: 0
			+rwd($pad)
				+display-flex(inline-flex)
				+align-items(stretch)
				
			+rwd($desktop) 
				max-width: 1540px
				
		.cover-project 
			display: none
			+rwd($desktop) 
				display: block
				+flex(68 0)
				position: relative
				
			.cover-img 
				position: absolute
				overflow: hidden
				width: 100%
				height: 100%
				img 
					position: absolute
					left: 50%
					top: 50%
					min-height: 100%
					min-width: 100%
					max-width: none
					+transform(translate(-50%, -50%))
					
			.author 
				position: absolute
				left: 15px
				bottom: 15px
				.m-pic 
					display: inline-block
					+border-radius(50%)
					border: 1px solid $gray6
					overflow: hidden
					width: 32px
					height: 32px
					margin-right: 7px
					vertical-align: middle
					
				.a-name 
					display: inline-block
					font-size: 12px
					line-height: 14px
					color: #fff
					vertical-align: middle
					text-shadow: 0 2px 5px $gray1
					
		.main-div 
			position: relative
			width: 100%
			padding: 0 20px
			text-align: center
				
			+rwd($desktop) 
				+flex(64 0)
				height: 96vh
				
			.signup-div,
			.getpass-div 
				display: none
				.login-btn2 
					display: inline-block
					cursor: pointer
					font-weight: 600
					+transition(all .3s ease-in-out)
					font-size: 14px
					margin-top: 20px
					margin-bottom: 15px
					+rwd($desktop) 
						&:hover 
							opacity: .7
							
			.info-div 
				width: 100%
				max-width: 390px
				height: 230px
				.title 
					font-weight: 600
					font-size: 24px
					margin-bottom: 15px
					color: $gray1
			.designer .b-title
				margin-bottom: 50px		
		.close-btn 
			position: absolute
			top: 10px
			right: 10px
			cursor: pointer
			opacity: .4
			+transition(opacity .3s ease)
			z-index: 9
			+rwd($pad) 
				&:hover 
					opacity: 1
					
			i 
				font-size: 16px
				color: $gray1
					
		a,
		label span 
			font-size: 13px
			color: $gray1
			font-weight: 500
			
		.logo-img 
			position: absolute
			top: 20px
			left: 50%
			margin-left: (-115px / 2)
			display: block
			width: 115px
			+rwd($pad)
				top: 40px

			img 
				height: 100%
				
		.b-title 
			font-size: 26px
			line-height: 1.3
			color: $gray1
			margin-bottom: 10px
			font-weight: 600
			letter-spacing: 3px
			margin-left: -3px
				
			p 
				font-weight: 600
				
		.s-title 
			font-size: 13px
			font-weight: 600
			line-height: 1.1
			margin-bottom: 40px
			color: $gray3
				
		.form-div 
			position: relative
			padding-bottom: 35px
			+rwd($pad) 
				padding: 0px 45px 35px
				
			.submit 
				position: relative
				width: 100%
				text-align: center
				display: block
				+border-radius(3px)
				background-color: $blue2
				border: 0
				padding: 0
				+transition(all .2s ease-out)
					
				span 
					font-size: 16px
					font-weight: 600
					line-height: 40px
					color: #fff
					
				+rwd($desktop) 
					&:hover 
						opacity: .7
							
			form 
				position: relative
				width: 100%
				display: block
				z-index: 2
				label>p 
					font-size: 14px
					line-height: 1.5
					color: #8b8b8b
					text-align: left
					
				input[type=text],
				input[type=password],
				select 
					border: 0
					width: 100%
					color: $gray1
					font-weight: 500
					border-bottom: 1px solid #e7e7e7
					font-size: 13px
					height: 30px
					padding: 0px
					text-align: left
					-webkit-appearance: none
					-moz-appearance: none
					+transition(all .3s ease-in-out)
					&:focus
						border-color: $blue2

					
				input[type=text],
				input[type=password]
					margin-bottom: 40px
				
					
					
				.bottom-div 
					width: 100%
					margin-bottom: 40px
					text-align: left
					margin-top: 0px
					font-size: 0
					+rwd($desktop)
						margin-bottom: 60px
					.autologin 
						display: inline-block
						font-size: 0
						input 
							margin-right: 5px
							display: inline-block
							vertical-align: middle
							border: 1px solid #7e7e7e
							font-size: 14px
							
						span 
							margin-top: 1px
							display: inline-block
							vertical-align: middle
							
					.getpass 
						float: right
						cursor: pointer
						
				.submit-div 
					margin-top: 30px
					margin-bottom: 30px
					.fb-register 
						width: 100%
						display: block
						color: #fff
						background-color: #3B5998
						+border-radius(3px)
						cursor: pointer
						margin-top: 15px
						text-align: center
						position: relative
						+transition(all .3s ease-in-out)
						svg 
							fill: #fff
							width: 20px
							height: 20px
							display: inline-block
							vertical-align: middle
							position: absolute
							left: 15px
							top: 50%
							margin-top: -10px
							
						span 
							display: inline-block
							vertical-align: middle
							font-size: 16px
							line-height: 40px
							margin-left: 5px
							color: #fff
						+rwd($desktop)
							&:hover
								opacity: .8
							
			small 
				font-size: 12px
				line-height: 20px
				color: $gray3
				text-align: left
				display: block
				
		.login-div 
			vertical-align: middle
			display: inline-block
			margin-top: 40px
			max-width: 450px
			padding-top: 70px
			+rwd($pad)
				margin-top: 0px
				padding-top: 0px
			+rwd($desktop)
				padding-top: 130px

				
		.signup-div 
			label 
				position: relative
				&:focus 
					border: 3px solid red
				
				
		.register 
			display: inline-block
			cursor: pointer
			color: $gray1
			font-weight: 600
			+transition(all .3s ease-in-out)
			font-size: 14px
			+rwd($desktop) 
				&:hover 
					opacity: .7
					
		.signup-div,
		.getpass-div,
		.resetpass-div 
			position: relative
			width: 100%
			vertical-align: middle
			max-width: 450px
			margin-top: 40px
			padding-top: 70px
			+rwd($pad)
				margin-top: 0px
			+rwd($desktop)
				padding-top: 130px
			.txt 
				font-size: 14px
				line-height: 18px
				color: #8b8b8b
				margin-bottom: 25px
				
			.title 
				font-weight: 600
				font-size: 24px
				margin-bottom: 15px
				color: $gray1
				
			form,
			a 
				opacity: 1
				+transition(opacity .3s ease)
				
			.blue-btn 
				display: block
				color: #fff
				font-size: 16px
				line-height: 44px
				width: 161px
				background-color: $blue1
				text-align: center
				vertical-align: middle
				margin-top: 40px
				margin-left: auto
				margin-right: auto
				+border-radius(5px)
				+rwd($desktop) 
					margin-top: 90px
					
			.success_info 
				opacity: 0
				visibility: hidden
				position: absolute
				top: 50%
				left: 50%
				color: #363636
				font-size: 20px
				font-weight: 600
				+transform(translate(-50%, -60%))
				+transition(opacity .3s ease .1)
				width: 100%
				p 
					color: $gray1
					font-size: 14px
					line-height: 21px
					
			&.success 
				.signup-data 
					opacity: 0
					visibility: hidden
					
				.success_info 
					visibility: visible
					opacity: 1
					z-index: 2
					
			.fullname 
				position: relative
				display: inline-block
				width: 100%
				+display-flex(flex)
				+justify-content(space-between)
				.lastname 
					width: 48%
					display: inline-block
					
				.firstname 
					width: 48%
					display: inline-block
		
		.getpass-div 
			margin-top: 0px
			padding-top: 35px
			form input[name="email"] 
				margin-top: 20px

	.signup .main-div 
		height: 100%
		font-size: 0
		overflow: auto
		padding: 0 20px
		&:after
			content: ""
			height: 100%
			vertical-align: middle
			display: inline-block