$p_height:96vh
$p_height_hd:90vh
.popup .project 
  +rwd($desktop) 
    padding: 0
    
.work-div 
  text-align: left
  padding-top: 30px
  +rwd($desktop) 
    padding: 0
    width: 86vw
    max-width: 1280px
    height: $p_height
    font-size: 0
    +display-flex(flex)
    +align-content(stretch)
    +justify-content(flex-end)
    +flex-flow(row wrap)
    
  +rwd($desktop-hd) 
    height: $p_height_hd
    
  .top-bar 
    padding: 10px 15px 15px
    width: 100%
    +rwd($pad) 
      padding: 15px 50px
      +display-flex(flex)
      +justify-content(space-between)
      +align-items(center)
      border: 1px solid $gray6
      
    .title 
      margin: 0px 0px 10px
      color: $gray1
      font-size: 18px
      font-weight: 500
      display: none
      
  .posts 
    margin-top: 5px
    font-size: 12px
    font-weight: 400
    color: $gray3
    margin-bottom: 10px
    a 
      border-bottom: 1px solid $gray3
      font-size: 14px
      font-weight: 400
      
    +rwd($pad) 
      margin-top: 0
      vertical-align: bottom
      font-size: 14px
      
  .social-btns 
    position: relative
    width: 100%
    +display-flex(flex)
    +flex-wrap(wrap)
    +justify-content(flex-start)
    +align-content(center)
    +align-items(center)
    +rwd($pad) 
      width: auto
      
    .btn 
      +border-radius(3px)
      font-size: 12px
      text-align: center
      cursor: pointer
      +transition(all ease-in-out .3s)
      line-height: 25px
      +rwd($desktop) 
        &:hover 
          opacity: .7
          
      i,
      span 
        display: inline-block
        vertical-align: middle
        line-height: 25px
        font-weight: 500px
        
      span 
        color: $gray1
        
      i 
        font-size: 16px
        line-height: 25px
        
      &.like 
        border: 1px solid $gray5
        width: 95px
        color: $red1
        margin-right: 10px
        +rwd($pad) 
          margin-right: 10px
          
        &.over 
          border: 0px
          background-color: $red1
          span,
          i 
            color: #fff
            
        i 
          color: $red1
          
      &.share 
        border: 1px solid $gray5
        color: $gray5
        width: 35px
        +rwd($pad) 
          margin-right: 20px
          
        i 
          color: #c0c0c0
          
    .view-data 
      display: inline-block
      vertical-align: bottom
      color: #5f5f5f
      text-align: right
      margin-left: 10px
      +rwd($pad) 
        +flex(1)
        
      >div 
        display: inline-block
        vertical-align: middle
        margin: 0px 0px 0px 5px
        span 
          font-size: 12px
          color: $gray3
          vertical-align: middle
          
        i 
          margin-right: 3px
          color: #c0c0c0
          vertical-align: middle
          font-size: 14px
          
  .designer-div 
    text-align: left
    margin-bottom: 15px
    +rwd($pad) 
      margin-bottom: 0px
      
    .member-main 
      +display-flex(inline-flex)
      +align-items(center)
      position: relative
      >a 
        +display-flex(inline-flex)
        +align-items(center)
        +transition(all .3s ease-in-out)
        +rwd($desktop) 
          &:hover 
            opacity: .7
            
      .profile 
        max-width: 30px
        overflow: hidden
        height: 30px
        +border-radius(50%)
        
      .main-name 
        +flex(1 0)
        padding-left: 8px
        .name 
          font-size: 16px
          font-weight: 900
          color: $gray1
          
      .follow-btn 
        margin-left: 15px
        @extend %follow-btn
        
  .left-img 
    margin-top: 0px
    position: relative
    padding: 0px
    font-size: 0
    border-top: 1px solid $gray5
    border-bottom: 1px solid $gray5
    +rwd($desktop) 
      border-top: 0px
      border-bottom: 0px
      display: inline-block
      vertical-align: top
      padding: 0px
      margin-top: 0px
      width: calc(100% - 380px)
      
    .html 
      display: table
      width: 100%
      height: 100%
      p 
        display: table-cell
        vertical-align: middle
        font-size: 14px
        color: #fff
        text-align: center
        
  .right-div 
    text-align: left
    background-color: #fff
    margin-top: 10px
    width: 100%
    overflow-x: hidden
    
    +rwd($desktop) 
      margin-top: 0
      border-left: 1px solid $gray6
      display: inline-block
      height: calc(#{$p_height} - 72px)
      width: 380px
      overflow-y: auto
      padding: 25px 0px 30px
      +display-flex(inline-flex)
      +flex-flow(column)
      .chats
        +flex(1)
        +display-flex(flex)
        +flex-flow(column)
        min-height: 280px
        .msgs
          +display-flex(flex)
          +flex(1)
          +flex-flow(column)
          +justify-content(flex-start)
          +align-items(center)
          
          &.no-chat
            +justify-content(center)

    +rwd($desktop-hd) 
      height: calc(#{$p_height_hd} - 72px)
      
    .designer-div 
      display: none
      +rwd($desktop) 
        display: block
        
    .work-info 
      padding: 0px 20px
      margin: 20px 0px 0px
      +rwd($pad) 
        margin: 0
        
      .text 
        color: $gray1
        font-size: 13px
        line-height: 1.6
        margin-bottom: 25px
        font-weight: 400
        .text-show 
          word-wrap: break-word
          
        .text-dot 
          vertical-align: middle
          margin: 0 5px
          
        .text-more 
          font-weight: 400
          cursor: pointer
          color: $blue1
          margin-top: 10px
          
      .post-date 
        font-size: 13px
        color: #999
        display: inline-block
        vertical-align: bottom
        font-weight: 400
        margin-bottom: 16px
        
      .title 
        line-height: 1.4
        display: block
        color: $gray1
        font-size: 18px
        margin-bottom: 15px
        
    .tags 
      margin-top: 30px
      padding: 0px 20px 15px
      border-bottom: 1px solid $gray6
      >p 
        color: $gray1
        font-size: 12px
        margin-bottom: 10px
        
      .tag 
        display: inline-block
        padding: 8px 12px
        background-color: $gray6
        color: $gray3
        margin-right: 5px
        margin-bottom: 5px
        line-height: 1
        font-size: 12px
        overflow: hidden
        +border-radius(3px)
        
    .chats 
      form 
        position: relative
        display: block
        width: 100%
        padding: 5px 20px 5px
        border-bottom: 1px solid $gray6
        .msg 
          position: relative
          +display-flex(flex)
          +justify-content(space-between)
          +align-items(center)
          
        input,
        textarea 
          +flex(1 0)
          width: 100%
          font-size: 12px
          padding: 5px 10px
          border: 1px solid #e0e0e0
          background-color: $gray9
          color: $gray1
          +border-radius(3px)
          
        input 
          padding-left: 40px
          
        input:disabled 
          padding-left: 5px
          
        button 
          position: absolute
          border: 0px
          background-color: transparent
          top: 0
          right: 0px
          width: 32px
          height: 26px
          i 
            font-size: 16px
            color: #e0e0e0
            line-height: 26px
            
          &.loading 
            i 
              opacity: 0
              
            &:after 
              content: ""
              position: absolute
              width: 12px
              height: 12px
              top: 50%
              left: 50%
              border-radius: 50%
              border: solid 2px rgba(#e0e0e0, 1)
              border-top-color: rgba(#e0e0e0, 0)
              +transform(translate(-50%, -50%) rotate(0deg))
              +animation(spin .8s infinite linear)
              
        .m-pic 
          z-index: 2
          position: absolute
          width: 18px
          height: 18px
          overflow: hidden
          left: 34px
          top: 50%
          margin-top: -9px
          +border-radius(50%)
          
        .in 
          width: 80px
          background-color: $blue2
          text-align: center
          +border-radius(3px)
          margin-left: 6px
          a 
            font-size: 12px
            color: #fff
            margin-right: 3px
            font-weight: 500
            line-height: 26px
            
      .msgs
        &.no-chat
          padding: 70px 0px
          +rwd($desktop)
            padding: 0
        .m-list 
          padding: 10px 20px
          border-bottom: 1px solid $gray6
          width: 100%
          &:hover 
            .comment-edit 
              opacity: 1
              
          .member-pic 
            width: 25px
            margin-top: 7px
            +border-radius(50%)
            overflow: hidden
            float: left
            
          .comment 
            margin-left: 35px
            .main-name 
              margin: 5px 0px
              .name 
                font-size: 14px
                color: $gray1
                font-weight: 900
                
              .date 
                float: right
                font-size: 9px
                color: $gray3
                
            &-body 
              font-size: 12px
              color: #4c4c4c
              p 
                word-break: break-all
                
            &-edit 
              float: right
              opacity: 0
              margin-top: -10px
              +transition(all .3s ease-in-out)
              .del 
                font-size: 12px
                color: $red1
                cursor: pointer
                font-weight: 600
                
        .none-chat 
          text-align: center
          .icon 
            position: relative
            display: inline-block
            width: 105px
            margin-bottom: 10px
            i 
              color: #e0e0e0
              $iz: 36px
              &:first-child 
                position: absolute
                +transform(scaleX(-1))
                font-size: $iz
                right: 0
                top: 0
                
              &:last-child 
                position: absolute
                font-size: ($iz + 4)
                left: 0
                bottom: 5px
                
          .t 
            font-size: 14px
            color: $gray1
            line-height: 26px
            font-weight: 500
            
          p 
            font-size: 12px
            color: $gray3
            line-height: 20px
            
.popup 
  .push-project 
    display: inline-block
    padding: 0
    +transition(all .3s ease-in-out)
    
    .cover-div 
      background: $gray9
      padding: 0
      text-align: center
      display: none
      padding-bottom: 20px
      .submit 
        text-align: center
        display: inline-block
        width: 160px
        background-color: $blue2
        border: 0
        margin-bottom: 20px
        +border-radius(3px)
        +transition(all .2s ease-out)
        span 
          color: #fff
          font-size: 16px
          line-height: 40px
          font-weight: 400
          
        +rwd($desktop) 
          &:hover 
            opacity: .7
            
      .prev 
        font-size: 16px
        font-weight: 500
        color: #000
        +transition(all .3s ease-in-out)
        opacity: .4
        &:hover 
          opacity: 1
          
    .push-title 
      width: 100%
      background-color: #fff
      padding: 25px 0px 25px
      border-bottom: 1px solid #F5F5F5
      text-align: center
      >p 
        width: 100%
        &.t 
          font-weight: 600
          font-size: 24px
          line-height: 36px
          margin-bottom: 5px
          
        &.st 
          font-size: 14px
          color: $gray3
          
    form 
      label 
        width: 100%
        text-align: left
        display: block
        position: relative
        margin-top: 15px
        &.types 
          display: inline-block
          vertical-align: bottom
          width: auto
          margin-bottom: 0
          
        &.types 
          +display-flex(flex)
          +justify-content(space-between)
          +align-content(center)
          
        &.cover-img 
          vertical-align: top
          display: inline-block
          width: 310px
          height: 244px
          margin: 25px 50px 20px
          background-color: #fff
          
        p 
          width: 100%
          font-size: 14px
          color: $gray1
          font-weight: 600
          margin-bottom: 5px
          
        input,
        textarea,
        select 
          color: $gray1
          width: 100%
          font-size: 14px
          line-height: 40px
          border: 1px solid #e7e7e7
          padding: 0 15px
          +border-radius(3px)
          background-color: #fff
          
        select 
          background: image-url("arrow-down.png") 95% center / 8px no-repeat, #fff
          -webkit-appearance: none
          appearance: none
          
        input[type="checkbox"] 
          width: auto
          display: inline-block
          margin-right: 10px
          
        input[type=file] 
          position: absolute
          visibility: hidden
          
        textarea 
          height: 160px
          resize: none
          line-height: 1.5
          padding: 15px
          
        select 
          width: 200px
          height: 40px
        .imgs-div,
        .img-div 
          position: relative
          width: 100%
          height: 100%
          border: 1px dashed #e7e7e7
          cursor: pointer
          padding: 0px
          overflow: auto
          +border-radius(3px)
          .slo-text 
            width: 160px
            opacity: 1
            text-align: center
            color: $gray1
            position: absolute
            padding: 0px
            top: 50%
            left: 50%
            +border-radius(3px)
            +transform(translate(-50%, -50%))
            >img
              margin-bottom: 10px
            >span 
              opacity: .6
              display: block
              font-size: 14px
              font-weight: 600
              line-height: 1
              vertical-align: middle
              color: $gray1
              white-space: nowrap
              margin-bottom: 5px
              
          .add-btn 
            display: inline-block
            vertical-align: top
            border: 1px dashed $gray1
            width: 120px
            text-align: center
            margin: 7px 5px
            span 
              color: $gray1
              font-size: 14px
              line-height: 120px
              display: inline-block
              
          .img-placeholder 
            width: 120px
            height: 120px
            display: inline-block
            background-color: $red1
            margin: 7px 5px
            
          .img 
            vertical-align: top
            position: relative
            width: 120px
            display: inline-block
            margin: 7px 5px
            overflow: hidden
            &:after 
              content: ""
              top: 0
              left: 0
              +transition(all .3s ease-in-out)
              background: rgba(0, 0, 0, .4)
              height: 100%
              position: absolute
              width: 100%
              opacity: 0
              z-index: 2
              
            &:hover 
              &:after,
              .del 
                opacity: 1
                
            .preview 
              position: relative
              text-align: center
              width: 120px
              height: 120px
              overflow: hidden
              z-index: 1
              >.i 
                position: absolute
                width: 100%
                height: 100%
                background-size: cover
                background-position: center
                background-repeat: no-repeat
                
              >* 
                vertical-align: middle
                position: absolute
                top: 50%
                left: 50%
                +transform(translate(-50%, -50%))
                
            .progress 
              position: absolute
              width: 100%
              height: 100%
              background-color: rgba(#000, .4)
              z-index: 3
              p 
                position: absolute
                top: 50%
                left: 50%
                text-align: center
                color: #fff
                +transform(translate(-50%, -50%))
                
            .del 
              opacity: 0
              top: 5px
              right: 5px
              position: absolute
              z-index: 3
              +transition(all .3s ease-in-out)
              >i 
                color: #fff
                font-size: 18px
                display: inline-block
                vertical-align: middle
                
        .img-div 
          padding: 7px 10px
          text-align: center
          .preview 
            +border-radius(3px)
            overflow: hidden
            position: relative
            display: inline-block
            width: 100%
            &:hover 
              &:after,
              &:before 
                opacity: 1
                
            &:after 
              +transition(all .3s ease-in-out)
              opacity: 0
              content: "變更縮圖"
              position: absolute
              left: 50%
              top: 50%
              transform: translate(-50%, -50%)
              font-size: 16px
              color: #fff
              
            &:before 
              +transition(all .3s ease-in-out)
              opacity: 0
              content: ""
              position: absolute
              width: 100%
              height: 100%
              background-color: rgba(#000, .4)
              top: 0
              left: 0
              
      .gallery-div 
        min-width: 400px
        +flex(3 0)
        margin-bottom: 0
        background-color: #fff
        margin-top: 0px
        &:before 
          opacity: 1
          content: ""
          // font-size: 90px
          position: absolute
          width: 167px
          height: 80px
          background: url("../images/Uploading_icon.svg") no-repeat
          top: 50%
          left: 50%
          +transform(translate(-50%, -68%))
          
        &:after 
          opacity: .6
          content: "選取 & 拖曳上傳檔案"
          font-size: 14px
          font-weight: 600
          line-height: 22px
          color: $gray1
          white-space: nowrap
          position: absolute
          top: 50%
          left: 50%
          +transition(all .2s ease-in-out)
          +transform(translate(-50%, 177%))
          
        &.on 
          &:after,
          &:before 
            opacity: 0
            
      .slo-text 
        opacity: .5
        text-align: center
        color: $gray1
        position: absolute
        padding: 7px 10px
        top: 50%
        left: 50%
        +border-radius(3px)
        +transform(translate(-50%, -50%))
        >span 
          display: inline-block
          font-size: 14px
          font-weight: 600
          line-height: 22px
          vertical-align: middle
          color: $gray1
          white-space: nowrap
          
        >small 
          font-size: 12px
          white-space: nowrap
          color: $gray3
          margin-top: 10px
          
    .main-div 
      background: $gray9
      width: 86vw
      max-width: 1080px
      height: $p_height
      font-size: 0
      max-height: 600px
      margin-top: 0
      padding: 0
      overflow-y: auto
      +rwd($desktop-w) 
        overflow: hidden
        
      .all-div 
        +display-flex(inline-flex)
        // +align-content(stretch)
        +justify-content(center)
        +flex-flow(row wrap)
        margin-top: 25px
        padding: 0 25px
        
      .tabs-div 
        +flex(7 0)
        padding-left: 25px
        .tabs-btn 
          position: relative
          text-align: left
          font-size: 0
          &:after 
            content: ""
            width: 100%
            height: 3px
            background-color: #f3f3f3
            position: absolute
            bottom: 0px
            left: 0
            
          >li 
            z-index: 1
            display: inline-block
            padding-bottom: 12px
            position: relative
            opacity: .4
            overflow: hidden
            font-size: 14px
            line-height: 21px
            +transition(all .3s ease-in-out)
            cursor: pointer
            margin-right: 30px
            &:after 
              content: ""
              width: 100%
              height: 3px
              background-color: $blue2
              +transition(all .3s ease-in-out)
              position: absolute
              bottom: 0
              left: 0
              +transform(translateY(100%))
              
            &.on,
            &:hover 
              opacity: 1
              &:after 
                +transform(translateY(0%))
                
      .bottom-div 
        width: 100%
        padding-top: 20px
        +display-flex(flex)
        +align-items(center)
        +justify-content(flex-end)
        span 
          font-size: 14px
          line-height: 1
          font-weight: 500
          color: #bdbdbd
          
        .next 
          text-align: center
          display: inline-block
          width: 160px
          background-color: $blue2
          border: 0
          +border-radius(3px)
          +transition(all .2s ease-out)
          margin-left: 15px
          vertical-align: bottom
          span 
            color: #fff
            font-size: 16px
            line-height: 40px
            font-weight: 400
            
          +rwd($desktop) 
            &:hover 
              opacity: .7
              
        .close 
          font-size: 16px
          font-weight: 500
          color: #000
          +transition(all .3s ease-in-out)
          opacity: .4
          &:hover 
            opacity: 1
            
        .fb_share,
        .tw_share 
          display: inline-block
          width: auto
          margin: 0 0 0 30px
          +display-flex(inline-flex)
          +align-items(center)
          span 
            color: $gray1
            white-space: nowrap
            margin-left: 5px
            
        >div 
          +display-flex(inline-flex)
          +align-items(center)
          &.l 
            text-align: left
            
          &.r 
            text-align: right
            
      .bm 
        text-align: justify
        &:before 
          content: ""
          display: inline-block
          width: 100%
          
.detail-project 
  @extend %main-size
  text-align: center
  padding-left: 0px
  padding-right: 0px
  .work-div 
    display: inline-block
    position: relative
    background-color: #fff
    padding-top: 0px
    +rwd($desktop) 
      height: calc(100% - 126px)
      background-color: transparent
      &:hover 
        .edit-div 
          opacity: 1
          
    .edit-div 
      position: absolute
      right: 10px
      top: 10px
      display: none
      +transition(opacity .2s ease-in)
      opacity: 0
      z-index: 99
      +rwd($desktop) 
        display: block
        
      .edit-btn,
      .del-btn 
        display: inline-block
        vertical-align: top
        background-color: #f6f7f9
        color: #4b4f56
        margin-right: 10px
        padding: 0 8px
        border: 1px solid #ced0d4
        +border-radius(5px)
        i 
          display: inline-block
          font-size: 18px
          line-height: 22px
          margin-right: 3px
          vertical-align: middle
          
        span 
          vertical-align: middle
          display: inline-block
          font-size: 13px
          
    .top-bar 
      border: 0px
      +rwd($desktop) 
        padding: 15px 10px
        
    .right-div 
      +rwd($desktop) 
        height: calc(100vh - 198px)
        