
@charset "UTF-8"
@import "../setup/setup"   //important include
.discover-content
	position: relative
	.type-list
		line-height: 54px
		border-bottom: 1px solid $gray6
		text-align: center
		background: #fff
		.btn-div
			position: relative
			vertical-align: middle
			display: inline-block
			padding: 0 20px
			.main-sele
				cursor: pointer
				span 
					font-size: 13px
					margin-right: 6px
					font-weight: 600
				i
					font-size: 12px
	.discover-list
		@extend %project_size
		padding-top: 35px
		section
			margin-bottom: 40px
			.c-title
				padding: 0px 15px 10px
				h4
					font-size: 20px
					margin-right: 15px
					display: inline-block
					vertical-align: middle
				span
					display: inline-block
					font-size: 14px
					line-height: 20px
					vertical-align: middle
					color: $gray3