
@charset "UTF-8"
@import "../setup/setup"   //important include

.index
	margin-top: #{-$header_hight}
	.index-bg
		background: linear-gradient(180deg, #63A9F4 0%, #55A0EF 43.91%, #3F60D4 100%)
		overflow: hidden
		position: relative
		z-index: 3
		&:before
			content: ""
			background: url("~images/banner_wave.svg") center bottom / auto	100% no-repeat
			position: absolute
			width: 100%
			height: 45%
			bottom: 0
		.index-banner
			position: relative
			width: 100%
			height: 100vh
			max-width: 1366px
			margin: 0 auto
			padding: 0 60px
			+display-flex(flex)
			+align-items(center)
			.sub-form
				width: 460px
				display: inline-block
				h5
					color: #ffffff
					font-size: 60px
					font-weight: 500
					line-height: 84px
				>p
					color: #ffffff
					font-size: 15px
					margin-top: 20px
					line-height: 27px
					display: block
				form
					+display-flex(flex)
					width: 100%
					position: relative
					margin-top: 25px
					+justify-content(space-between)
				input
					display: inline-block
					border-radius: 3px	
					border: 1px solid #F3F3F3
					font-size: 16px
					line-height: 38px
					padding: 0 17px
					width: percentage(280/460)
				button
					font-size: 16px
					line-height: 38px
					border-radius: 3px	
					color: #ffffff
					background-color: $gray1
					padding: 0
					border: 0
					width: percentage(155/460)
					+transition(all .3s ease-in-out)
					&:hover
						opacity: .85
			.p-covers
				position: absolute
				left: 50%
				display: inline-block
				width: 100%
				.cover
					position: absolute
					box-shadow: 3px 2px 13px 0 rgba(133,146,152,0.4)
					font-size: 0
					&:nth-of-type(1)
						top: -100px
						left: 155px
					&:nth-of-type(2)
						left: 490px
						top: -230px
					&:nth-of-type(3)
						left: -75px
						top: -168px
					&:nth-of-type(4)
						left: 135px
						top: 13px
	.mid-content
		background-color: #fff
		width: 100%
		padding: 40px 0px
		+rwd($pad) 
			padding: 60px 0px 30px
		.s-title
			position: relative
			margin-bottom: 20px
			text-align: center
			+rwd($pad) 
				margin-bottom: 30px
				
			h5
				vertical-align: middle
				display: inline-block
				font-size: 26px
				font-weight: normal
				color: $gray1
				letter-spacing: 1px
			p
				color: $gray3
				font-size: 16px
				margin-top: 25px
	.projects-content
		position: relative
		.tabs-btn
			background: #fff
			border-bottom: 1px solid #d8e2e7
			.btn
				display: inline-block
				width: (100% / 6)
				position: relative
				text-align: center
				padding: 30px 0px
				cursor: pointer
				span
					font-size: 14px
					font-weight: 500
				&.active:after
					content: ""
					height: 2px
					width: 100%
					position: absolute
					bottom: -1px
					left: 0
					background: $blue1
		.project-list
			@extend %project_size
		.more-project
			position: absolute
			padding: 240px 20px 160px
			z-index: 10
			width: 100%
			bottom: 0
			left: 0
			text-align: center
			background: linear-gradient(180deg, rgba(255,255,255,0.73) 0%, #FFFFFF 40%,#FFFFFF 100%)
			.big-title
				letter-spacing: 2px
				font-size: 33px
				color: $gray1
				margin-bottom: 45px
			.btns
				margin-bottom: 30px
				>a
					display: inline-block
					margin: 0 10px
					width: 360px
					font-size: 16px
					line-height: 40px
					color: #fff
					border-radius: 3px
					&.login-btn
						background-color: $blue2
					&.fb-login
						background-color: #3B5998
						position: relative
						>i
							position: absolute
							font-size: 20px
							left: 17px
							margin-top: 10px
			>a
				font-size: 13px
				color: $gray3