+keyframes("arr_move") 
	0%, 20%, 50%, 80%, 100% 
		bottom: 20px
	
	40% 
		bottom: 40px
	
	60% 
		bottom: 35px
	
+keyframes("fadein") 
	0%
		opacity: 0
	
	100%
		opacity: 1
	
+keyframes("spin") 
	100%
		+transform(translate(-50%,-50%) rotate(360deg))
	
+keyframes("size") 
	0%
		+transform(scale(1))
	
	50%
		+transform(scale(1.3))
	
	100%
		+transform(scale(1))
	
+keyframes("lmove") 
	0% 
		left: 0
	
	100% 
		left: 150%

+keyframes("wave") 
	from 
		transform: rotate(-360deg)

.routerFade-enter-active, .routerFade-leave-active
  +transition(opacity .5s ease-in-out)
.routerFade-enter, .routerFade-leave-to 
  opacity: 0


.router-wrap
  +transition(all .5s ease)
  &.menu-open
    +transform(translateX(#{$nav_width}))

.menuopen-enter-active, .menuopen-leave-active
	+transition(transform .5s ease)

.menuopen-enter, .menuopen-leave-to 
  +transform(translateX(-#{$nav_width}))

.menuopen-leave, .menuopen-enter-to 
  +transform(translateX(0%))

