@import url(//fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i)
// @import url(//fonts.googleapis.com/icon?family=Material+Icons)
// @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css)
$font_arr: ("ly-icon")
$font_src: ("ly-icon")
$extension: (eot,woff,ttf,svg)

// @mixin font-face($name,$file,$extension,$weight:false,$style:false)
//   @font-face 
//     font-family: quote(#{$name})
//     $files: null
//     @for $x from 1 through length($extension)
//       $var: nth($extension,$x)
//       $eot: quote("~fonts/#{$file}.#{$var}")
//       @if $var == eot
//         src: url($eot)
//         $files: #{$files} url(unquote("#{$eot}?#iefix")) unquote("format('embedded-opentype')")
//       @else
//         $files: #{$files} url(#{$eot}) format("#{$var}")
      
//       @if $x != length($extension)
//         $files: #{$files}unquote(",")

//     src: $files
//     @if $weight 
//       font-weight: $weight
    
//     @if $style
//       font-style: $style
      
// @if length($font_arr) > 0 
//   @for $i from 1 through length($font_arr) 
//     $name: nth($font_arr, $i)
//     $src: nth($font_src, $i)
//     +font-face($name,$src,$extension)
//     .f_family_#{$i}
//       font-family: quote(#{$name}),'Microsoft JhengHei', 'Helvetica Neue', Arial, Helvetica, sans-serif

@font-face
  font-family: 'ly-icon'
  src: url('~fonts/ly-icon.eot')
  src: url('~fonts/ly-icon.eot') format('embedded-opentype'),url('~fonts/ly-icon.woff') format('woff'),url('~fonts/ly-icon.ttf') format('truetype'),url('~fonts/ly-icon.svg') format('svg')
  font-weight: normal
  font-style: normal

.ly-icon 
  display: inline-block
  font-family: "ly-icon"
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 15px
  vertical-align: middle
  &.s-glyph01:before
    content: "\EA01" 
  &.s-glyph02:before
    content: "\EA02" 
  &.s-glyph03:before
    content: "\EA03" 
  &.s-glyph04:before
    content: "\EA04" 
  &.s-glyph05:before 
    content: "\EA05" 
  &.s-glyph06:before
    content: "\EA06" 
  &.s-glyph07:before 
    content: "\EA07" 
  &.s-glyph08:before 
    content: "\EA08" 
  &.s-glyph09:before 
    content: "\EA09" 
  &.s-glyph10:before 
    content: "\EA0A" 
  &.s-glyph11:before 
    content: "\EA0B" 
  &.s-glyph12:before 
    content: "\EA0C" 
  &.s-glyph13:before 
    content: "\EA0D" 
  &.s-glyph14:before 
    content: "\EA0E" 
  &.s-glyph15:before 
    content: "\EA0F" 
  &.s-glyph16:before 
    content: "\EA10" 
  &.s-glyph17:before 
    content: "\EA11" 
  &.s-glyph18:before 
    content: "\EA12" 
  &.s-glyph19:before 
    content: "\EA13" 
  &.s-glyph20:before 
    content: "\EA14" 
  &.s-glyph21:before 
    content: "\EA15" 
  &.s-glyph22:before 
    content: "\EA16" 
  &.s-glyph23:before 
    content: "\EA17" 
  &.s-glyph24:before 
    content: "\EA18" 
  &.s-glyph25:before 
    content: "\EA19" 
  &.s-glyph26:before 
    content: "\EA1A" 
  &.s-glyph27:before 
    content: "\EA1B" 
  &.s-glyph28:before 
    content: "\EA1C" 
  &.s-glyph29:before 
    content: "\EA1D" 
  &.s-glyph30:before 
    content: "\EA1E" 
  &.s-glyph31:before 
    content: "\EA1F" 
  &.s-glyph32:before 
    content: "\EA20" 
  &.s-glyph33:before 
    content: "\EA21" 
  &.s-glyph34:before 
    content: "\EA22" 
  &.s-glyph35:before 
    content: "\EA23" 
  &.s-glyph36:before 
    content: "\EA24" 
  &.s-glyph37:before 
    content: "\EA25" 
  &.s-glyph38:before 
    content: "\EA26" 
  &.s-glyph39:before 
    content: "\EA27" 
  &.s-glyph40:before 
    content: "\EA28" 
  &.s-glyph41:before 
    content: "\EA29" 
  &.s-glyph42:before 
    content: "\EA2A" 
  &.s-glyph43:before 
    content: "\EA2B" 
  &.s-glyph44:before 
    content: "\EA2C" 
  &.s-glyph45:before 
    content: "\EA2D" 
  &.s-glyph46:before 
    content: "\EA2E" 
  &.s-glyph47:before 
    content: "\EA2F" 
  &.s-glyph48:before 
    content: "\EA30" 
  &.s-glyph49:before 
    content: "\EA31" 
  &.s-glyph50:before 
    content: "\EA32" 
  &.s-glyph51:before 
    content: "\EA33" 
  &.s-glyph52:before 
    content: "\EA34" 
  &.s-glyph53:before 
    content: "\EA35" 
  &.s-glyph54:before 
    content: "\EA36" 
  &.s-glyph55:before 
    content: "\EA37" 
  &.s-glyph56:before 
    content: "\EA38" 