$zindex_arr: ("header","fixmenu","menu","popup","cropimg")
$header_hight: 65px
$nav_width: 230px
%project_size
  margin-left: auto
  margin-right: auto
  +rwd($mobile) 
    max-width: 660px
    padding: 50px 0px 20px
    
  +rwd($desktop) 
    max-width: 960px
  
  +rwd($desktop-w) 
    max-width: 1280px
  
  +rwd($desktop-fullhd) 
    max-width: 1600px
%m-datas
  display: inline-block
  vertical-align: middle
  color: $gray3
  >div
    display: inline-block
    vertical-align: middle
    font-size: 12px
    padding: 0px 5px
    &:last-child
      padding-right: 0px
      border-right: 0px
      
  i
    margin-right: 3px
    font-size: 14px
    vertical-align: middle
    color: #c0c0c0
    +transition(color .3s ease)
    
  span
    vertical-align: middle
    
%red-btn
  text-align: center
  display: inline-block
  width: 175px
  font-size: 14px
  background-color: $red1
  +border-radius(7px)
  color: #fff
  line-height: 40px
  margin-top: 25px
  letter-spacing: 0.3em
  font-weight: 600
  +transition(all .2s ease-out)
  +rwd($desktop) 
    &:hover
      background-color: $red2
      
%blue-btn
  text-align: center
  display: inline-block
  background-color: $blue2
  +border-radius(5px)
  color: #fff
  font-weight: 500
  +transition(all .2s ease-out)
  span
    display: inline-block
    vertical-align: middle
    
  &:after
    content: ""
    display: inline-block
    vertical-align: middle
    height: 100%
    
  +rwd($desktop) 
    &:hover
      background-color: $blue3
      
@mixin trn-btn($color:#fff)
  text-align: center
  display: inline-block
  padding: 8px 25px
  background-color: transparent
  color: $color
  border: 1px solid $color
  margin-top: 35px
  +transition(all .2s ease-out)
  span
    font-size: 14px
    line-height: 1
    
  +rwd($desktop) 
    &:hover
      opacity: .7
      
%main-size
  width: 100%
  padding-left: 15px
  padding-right: 15px
  +rwd($pad) 
    padding-left: 55px
    padding-right: 55px
  
  +rwd($desktop) 
    max-width: 1280px
    margin: 0 auto

  +rwd($desktop-w) 
    max-width: 1440px
    
  +rwd($desktop-hd) 
    max-width: 1540px
    
  +rwd($desktop-fullhd) 
    max-width: 1640px
    
%follow-btn
  display: inline-block
  border: 1px solid $blue2
  text-align: center
  width: 78px
  height: 25px
  color: $blue2
  +border-radius(5px)
  font-size: 12px
  +transition(all .3s ease-in-out)
  cursor: pointer
  span 
    line-height: 25px
    vertical-align: middle
    font-weight: 500
    
  &.over 
    color: #fff
    background-color: $blue2
    
  +rwd($pad) 
    &:hover 
      color: #fff
      background-color: $blue2
      