@import "mail"
+mail_mail()
	.detail 
		margin: 0 auto
		max-width: 525px
		padding: 0px 0px 30px
		border: 1px solid #D8E2E7
		+border-radius(6px)
		background: #fff
		+box-shadow(0 2px 20px 0 rgba(0,0,0,0.14))
		.logo 
			text-align: center
		.text
			padding: 25px 90px 40px
			p
				line-height: 30px
				font-size: 16px
			
		h1 
			color: $gray1
			font-size: 30px
			font-weight: 600
			line-height: 42px
			margin-top: 50px
			
			
		.btn1
			display: inline-block
			font-size: 16px
			font-weight: bold
			line-height: 46px
			vertical-align: middle
			+border-radius(3px)
			text-align: center
			color: #fff
			width: 250px
			background-color: $blue2
	.slogan
		color: #859298
		line-height: 25px
		padding: 40px 0px 0px