<style lang="sass" src="style.sass"></style>

<template lang="pug">
#app.lymma-body(:class='{ "menu-open" : menuOpen }' @scroll='handleScroll')
    transition(name="routerFade")
        mainHeader(v-if="!isIndex")
    #warp.router-wrap(:class='{ "menu-open" : menuOpen }' )
        transition(name="routerFade")
            keep-alive
                Login(v-if="isPop")
        transition(name="routerFade")
            router-view
        transition(name="routerFade")
            mainFooter(v-if="!isIndex")
</template>

<script>
import { mapGetters, mapActions , mapMutations } from 'vuex';
import mainHeader from "./partials/Header";
import mainFooter from "./partials/Footer";
import Login from "./partials/Login";
export default {
    data() {
        return {
            isIndex: (this.$router.controller=="index") ? true : false,
            now_top: 0
        }
    },
    methods:{
        ...mapMutations(['headShow','menuToggle']),
        handleScroll(e) {
            var currentScrollPosition = e.srcElement.scrollTop;
            if(!this.menuOpen){ 
                if(currentScrollPosition > 60 && currentScrollPosition > this.now_top){
                    this.headShow(false);
                }
                else{
                    this.headShow(true)
                }
                this.now_top = currentScrollPosition;
            }
        },
        menuClose(e){
            if(this.menuOpen){
                this.menuToggle(false);
            }
        }
    },
    mounted(){
    },
    watch: {
    },
    created() {
         let list = ['scroll' ,'wheel' ,'DOMMouseScroll','mousewheel'];
         list.forEach(function(e) {
             window.addEventListener(e, this.menuClose);
         }, this);
    },
    computed:{
        ...mapGetters(['isPop', 'menuOpen'])
    },
    components:{
        mainHeader,
        Login,
        mainFooter
    },
    destroyed: function () {
         let list = ['scroll' ,'wheel' ,'DOMMouseScroll','mousewheel'];
         list.forEach(function(e) {
             window.removeEventListener(e, this.menuClose);
         }, this);
    }
}
</script>

