<style lang="sass" src="pages/discover.sass" scoped></style>

<template  lang="pug">
.discover-content
  .type-list
    .btn-div
      .main-sele
        span 精選
        i.ly-icon.s-glyph11
      .options-div
        .optnins
    .btn-div
      .main-sele
        span 所有領域
        i.ly-icon.s-glyph11
      .options-div
        .optnins
  .discover-list
    .class-content(data-class="all")
      section
        .c-title
          h4 精選收藏集
          span 各式設計精選收藏集
        .list
          Collect_item(v-for='x in 4')
      section
        .c-title
          h4 推薦給您
          span 我們認為你也會喜歡
        .list
          Collect_item(v-for='x in 4')
      section
        .c-title
          h4 經典作品
          span 歷年經典作品
        .list
          Project_item(v-for='x in 16')

</template>

<script>
import Collect_item from "./partials/Collect-item";
import Project_item from "./partials/Project-item";
export default {
  components: {
    Project_item,
    Collect_item
  }
}
</script>