<style lang="sass" src="pages/index.sass" scoped></style>

<template  lang="pug">
.warpper.index
  .index-bg
    mainHeader
    .index-banner
      .sub-form
        h5
          | 全亞洲最佳
          br
          | 設計師創作社群
        p 我們致力於打造一個更好的設計環境。在這裡的設計師不僅能與來自世界各地的設計師互相交流、分享經驗，更能透過我們平台的規劃逐步成長，進而成為一名更佳優秀的設計師。
        form
          input(placeholder="Email")
          button
            span 立即體驗
      .p-covers
        .cover
          img(src= "~images/p_img1.jpg")
        .cover
          img(src="~images/p_img2.png")
        .cover
          img(src="~images/p_img3.jpg")
        .cover
          img(src="~images/p_img4.jpg")
  .mid-content
    .s-title
      h5 盡情享受探索設計、靈感的樂趣
      p 讓設計充實每一天的生活
  .projects-content
    .tabs-btn
      .btn.active
        span 平面設計
      .btn
        span 藝術指導
      .btn
        span 編排設計
      .btn
        span 字體設計
      .btn
        span 角色設計
      .btn
        span 更多分類
    .project-list
      .list
        Project_item(v-for='x in 16')
    .more-project
      .big-title
        p 更多的未知旅程，正等著你前往探索
      .btns
        a.login-btn(@click='isPop(true)')
          span 立即註冊
        a.fb-login
          i.ly-icon.s-glyph27
          span 由 Facebook 帳號登入
      a
        span 您是企業嗎? 點此註冊為企業型用戶
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import mainHeader from "./partials/Index-header";
import Project_item from "./partials/Project-item";
export default {
  data() {
      return {}
  },
  created() {
    console.log(this.$route);
  },
  methods:{
      ...mapMutations(['isPop'])
  },
  mounted(){
  },
  components: {
    Project_item,
    mainHeader
  }
}
</script>