$base-sh:""
$base-bg: transparent
$track-pad:6px
$track-w: 130px
$track-h: 16px
$track-bg: linear-gradient(#e0e0e0 50%, #e0e0e0 50%, transparent) content-box,$base-bg
$fill-h: .5*($track-h - 2*$track-pad)
$fill-bg: linear-gradient(90deg, #999, #999)
$thumb-d:12px
$thumb-sh: 1px 1px 3px 2px rgba(110, 110, 110, 0.3)
$tip-sf: .75
$tip-h: $track-h/$tip-sf

@mixin track($lower: false) 
  box-sizing: border-box
  padding: $track-pad
  width: $track-w
  height: $track-h
  border-radius: .5*$track-h
  box-shadow: $base-sh
  background: $track-bg
  
@mixin fill() 
  height: $fill-h
  background: $fill-bg
  
@mixin thumb() 
  box-sizing: border-box
  border: solid 1px rgba(#eee, .1)
  width: $thumb-d
  height: $thumb-d
  border-radius: 50%
  box-shadow: $thumb-sh
  background: #fff
  cursor: pointer
  
.crop-popup 
  position: fixed
  +zindex("cropimg")
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  overflow-y: scroll
  background-color: rgba(54, 54, 54, .9)
  +transform(translateZ(0))
  +animation( fadein 1s)
  +rwd($pad) 
    text-align: center
    font-size: 0
    &:after 
      content: ""
      height: 100%
      display: inline-block
      vertical-align: middle
      
  .crop-img 
    position: relative
    width: 100%
    background-color: #fff
    padding: 20px
    text-align: center
    font-size: 0
    +rwd($pad) 
      width: auto
      height: auto
      display: inline-block
      vertical-align: middle
     
    input[type='range']        
      box-sizing: border-box
      position: relative
      display: inline-block
      vertical-align: middle
      padding: 0px
      width: $track-w
      height: 2*$track-h
      background: none
      font: 1em verdana
      cursor: pointer
      border: 0px
      &::-webkit-slider-runnable-track,
      &::-webkit-slider-thumb,
      & 
        -webkit-appearance: none
      [class*='-ms-'] & 
        box-sizing: content-box
        border: solid 0 transparent
        border-width: 0 $track-pad
        padding: 0
        &:focus 
          outline: none
          
      &:focus 
        outline: none
       
      &::-webkit-slider-runnable-track 
        +track()
       
      &::-moz-range-track 
        +track()
       
      &::-webkit-slider-runnable-track 
        position: relative
        background: $fill-bg 0 50% no-repeat content-box, $track-bg
        background-size: 0% $fill-h, 100%, 100%
        &:after 
          position: absolute
          left: 100%
          top: 50%
          width: 4em
          height: $tip-h
          border-radius: .5*$tip-h
          transform: translate(.5em, -50%)
          box-shadow: $base-sh
          background: $base-bg
          font-size: $tip-sf*1em
          line-height: $tip-h
          text-align: center
          content: '0%'
          
      &::-moz-range-progress 
        +fill()
       
      &::-ms-fill-lower 
        +fill()
       
      &::-webkit-slider-thumb 
        margin-top: -.5*$thumb-d+2
        +thumb()
       
      &::-moz-range-thumb 
        +thumb()
       
      &::-ms-thumb 
        +thumb()
        
    .crop-title 
      font-size: 14px
      font-weight: 600
      padding-bottom: 20px
      text-align: center
      padding-top: 10px
     
    .crop-div 
      border: 1px solid #e0e0e0
      +border-radius(3px)
      .default-img 
        width: 460px
        height: 330px
        
    .zoom-bar 
      margin-top: 15px
      .s,
      .l 
        display: inline-block
        margin: 0px 5px
        color: #7f7f7f
        vertical-align: middle
        cursor: pointer
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
       
      .s i 
        font-size: 18px
      .l i 
        font-size: 26px
    .btns 
      margin-top: 20px
      >div 
        display: inline-block
        margin: 5px
        width: 130px
        font-size: 14px
        +border-radius(3px)
        line-height: 35px
        cursor: pointer
        span 
          font-weight: 600
          
      .cls 
        color: #999999
        border: 1px solid #999999
       
      .save 
        color: #363636
        border: 1px solid #363636
        