
@charset "UTF-8"
@import "../setup/setup"   //important include

.collect-div
  display: inline-block
  text-align: center
  .item
    overflow: hidden
    border: 1px solid $gray6;
    +border-radius(3px)
    width: 290px
    margin: 0px 15px
    .pic
      position: relative
      overflow: hidden
      opacity: 1
      border-bottom: 1px solid $gray6
      font-size: 0
      width: 290px
      height: 160px
      // +rwd($desktop) 
      //   &:hover
      //     .like-btn
      //       opacity: 1						
      //       +transform(translateX(0px))
          
      //     .edit-div
      //       opacity: 1
        
      .m-img
        background-color: #f5f5f5
        width: 100%
        position: relative
        display: inline-block
    .bottom-btn
      padding: 15px 0 20px
      .dec
        .title
          color: $gray1
          font-size: 18px
          font-weight: 600
          line-height: 27px
          margin-bottom: 10px
        .count
          color: $gray3
          font-size: 13px
          line-height: 21px
          margin-bottom: 15px
          font-weight: 500
      .follow-btn
        width: 105px
        font-size: 13px
        font-weight: 500
        line-height: 22px
        vertical-align: middle
        +border-radius(3px)
        border: 1px solid #D8E2E7
        color: $blue1
        +transition(all .3s ease-in-out)
        margin: 0 auto
        cursor: pointer
        &:hover
          color: #ffffff
          background: $blue1