
@charset "UTF-8"
@import "../setup/setup"   //important include

footer
	border-top: 1px solid $gray6
	text-align: left
	padding: 75px 20px 35px
	background-color: #fff
	position: absolute
	bottom: 0
	width: 100%
	.f-menu
		max-width: 980px
		margin: 0 auto 60px
		+rwd($pad)
			+display-flex(flex)
			+justify-content(space-between)
		.left-logo
			display: inline-block
			>img
				height: 50px
			.socials
				margin-top: 30px
				i
					font-size: 18px
					color: $blue1
					margin-right: 20px
		>ul
			display: inline-block
			li
				display: inline-block
				margin-right: 120px
				font-size: 13px
				font-weight: 600
				line-height: 25px
				&:last-of-type
					margin-right: 0
				.frist-title
					color: $blue1
					margin-bottom: 30px
				a>p
					color: $gray3
	.copyright
		text-align: center
		color: $gray3
		font-size: 12px