
@charset "UTF-8"
@import "../setup/setup"   //important include

//PACE LOAD BAR
.pace 
  position: fixed
  width: 100%
  height: 2px
  z-index: 99999
  overflow: hidden
  +transform(translateZ(0))  
  +transition(transform .2s ease)
  &.pace-inactive 
    transform: translateY(-2px)
  
  .pace-progress 
    position: absolute
    top: 0
    right: 100%
    height: 100%
    width: 100%
    background: $blue2

html.menu-open 
  overflow: hidden
// HEAD
header
  .search-div 
    display: inline-block
    margin: 0px
    padding: 0px 25px 0px 0px
    width: 100%
    position: relative
    vertical-align: middle
    +rwd($pad) 
      margin: 0px 0px 0px 0px
      padding: 0
      width: 500px

    form 
      position: relative
      width: 100%
      display: inline-block
      vertical-align: middle

    input 
      color: inherit
      background-color: transparent
      text-overflow: ellipsis
      border: 0px
      width: 100%
      height: 36px
      font-size: 13px
      font-weight: 500
      +transition(all .3s)
      padding: 0px 10px 0px 35px
      width: 100%
      +border-radius(6px)
      +rwd($desktop) 
        border: 1px solid $gray6

    button 
      position: absolute
      left: 0
      display: inline-block
      vertical-align: middle
      color: inherit
      border: 0px
      background-color: transparent
      line-height: 1
      top: 50%
      margin-top: -10px
      i 
        font-size: 18px
        color: $gray3

// LOGIN BAR
.right-div
  text-align: right
  margin-top: 3px
  display: inline-block
  &:after
    content: ""
    display: inline-block
    height: 100%
    vertical-align: middle
    display: none
    +rwd($pad) 
      display: inline-block
      vertical-align: middle
  >.login-btn2
    font-size: 13px
    display: inline-block
    margin-right: 24px
    opacity: 1
    +transition(all .2s ease-out)
    color: $gray2
    vertical-align: middle
    line-height: 1.1
    +rwd($pad) 
      &:hover 
        opacity: 0.7
  >.login-btn
    border: 0px
    text-align: center
    width: 100px
    font-weight: 500
    opacity: 1
    color: #fff
    font-size: 14px
    line-height: 28px
    display: inline-block
    vertical-align: middle
    +transition(all .2s ease-out)
    +border-radius(3px)
    background-color: $blue2
    &.signup
      width: 88px
      background-color: transparent
      margin-right: 10px
      border: 1px solid #D8E2E7
      color: $gray3
      padding: 0
    +rwd($pad) 
      &:hover 
        opacity: 0.7
    
  >.pc
    display: none
  +rwd($pad)
    >.pc
      display: inline-block
    >.mobile
      display: none

//MAIN TOP BAR
.main-warp
  position: fixed
  width: 100%
  @extend %main-size
  vertical-align: middle
  +display-flex(inline-flex)
  +align-items(center)
  +justify-content(space-between) 
  +transition(all .3s ease-in-out)
  +zindex("menu")
  height: $header_hight
  top: 0
  left: 0
  border-bottom: 1px solid $gray6
  background-color: #fff
  font-size: 0
  // +box-shadow(0 0 2px 0px rgba(31, 31, 31, 0.2))
  +rwd($pad) 
    font-size: 0
  &.hide
    top: -($header_hight + 3px)

//LEFT BAR
.left-div
  .logo 
    height: 29px
    display: inline-block
    vertical-align: middle
    padding-right: 16px
    .a 
      display: none
      +rwd($pad) 
        display: inline-block
        margin-right: 10px
    img 
      height: 100%
  .nav-name
    display: inline-block
    padding-left: 16px
    border-left: 1px solid #D8E2E7
    cursor: pointer
    span 
      font-size: 14px
      font-weight: 600
      line-height: 21px
      margin-right: 8px
      vertical-align: middle
    i
      font-size: 16px
      color: $gray3
      vertical-align: middle