
@charset "UTF-8"
@import "../setup/setup"   //important include

html.menu-open 
  overflow: hidden

header 
  +transition(all .3s ease-in-out)
  +zindex("menu")
  height: $header_hight
  width: 100%
  position: absolute
  top: 0
  left: 0
  border: 1px solid #F7F7F7
  text-align: center
  background-color: #fff
  font-size: 0
  +transition(all .3s ease-in-out)
  &:after 
    content: ""
    height: 100%
    display: inline-block
    vertical-align: middle
  &.index-class
    background-color: transparent
    border: 0px
.pace 
  position: fixed
  width: 100%
  height: 2px
  z-index: 99999
  overflow: hidden
  +transform(translateZ(0))  
  +transition(transform .2s ease)
  &.pace-inactive 
    transform: translateY(-2px)
  
  .pace-progress 
    position: absolute
    top: 0
    right: 100%
    height: 100%
    width: 100%
    background: $blue2
  
.right-div
  text-align: right
  margin-top: 3px
  +flex(1)
  &:after
    content: ""
    display: inline-block
    height: 100%
    vertical-align: middle
    display: none
    +rwd($pad) 
      display: inline-block
      vertical-align: middle
  >.login-btn2
    font-size: 13px
    display: inline-block
    margin-right: 24px
    opacity: 1
    +transition(all .2s ease-out)
    color: $gray2
    vertical-align: middle
    line-height: 1.1
    +rwd($pad) 
      &:hover 
        opacity: 0.7
  >.login-btn
    border: 0px
    text-align: center
    width: 100px
    font-weight: 500
    opacity: 1
    color: #fff
    font-size: 14px
    line-height: 28px
    display: inline-block
    vertical-align: middle
    +transition(all .2s ease-out)
    +border-radius(3px)
    background-color: $blue2
    &.signup
      width: 88px
      background-color: transparent
      margin-right: 10px
      border: 1px solid #D8E2E7
      color: $gray3
      padding: 0
    +rwd($pad) 
      &:hover 
        opacity: 0.7
    
  >.pc
    display: none
  +rwd($pad)
    >.pc
      display: inline-block
    >.mobile
      display: none

  .search-div 
    display: inline-block
    margin: 0px
    padding: 0px 25px 0px 0px
    width: 100%
    position: relative
    vertical-align: middle
    +rwd($pad) 
      margin: 0px 15px 0px 0px
      padding: 0
      width: 170px
    
    form 
      position: relative
      width: 100%
      display: inline-block
      vertical-align: middle
    
    input 
      color: inherit
      background-color: transparent
      text-overflow: ellipsis
      border: 0px
      width: 100%
      height: 30px
      font-size: 14px
      +transition(all .3s)
      padding: 0px 10px 0px 35px
      width: 100%
      +border-radius(5px)
      +rwd($desktop) 
        border: 1px solid $gray6
        
    button 
      position: absolute
      left: 0
      display: inline-block
      vertical-align: middle
      color: inherit
      border: 0px
      background-color: transparent
      line-height: 1
      top: 50%
      margin-top: -10px
      i 
        font-size: 20px
         
.main-warp 
  text-align: left
  width: 100%
  @extend %main-size
  display: inline-block
  vertical-align: middle
  +display-flex(inline-flex)
  +align-items(center)
  +justify-content(space-between)
  +rwd($pad) 
    font-size: 0
  .logo 
    height: 29px
    display: inline-block
    vertical-align: middle

    .a 
      display: none
      +rwd($pad) 
        display: inline-block
        margin-right: 10px
    img 
      height: 100%

.mobile-btn 
  position: absolute
  display: inline-block
  top: 5px
  right: 20px
  width: 24px
  height: 24px
  color: $gray1
  i       
    font-size: 24px
  
  +rwd($pad) 
    display: none

.menu 
    +zindex("menu")
    +transition(opacity 600ms ease 300ms, transform 10ms ease 600ms)
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow: auto
    -webkit-overflow-scrolling: auto
    background-color: rgba($gray1, .4)
    +transform(translateX(100%))
    opacity: 0
    +rwd($pad) 
      opacity: 1
      margin: 4px 0px 0px 40px
      color: $gray1
      display: inline-block
      position: relative
      width: auto
      height: auto
      +transform(translateX(0%))
      background-color: transparent
      vertical-align: middle
    
    .warp 
      position: absolute
      top: 0
      right: 0
      min-height: 100%
      width: 100%
      +transform(translateX(100%))
      +transition(transform 400ms ease)
      padding: 0px
      .menu-header 
        position: relative
        font-size: 0
        +rwd($pad) 
          height: auto
        
        .h-child 
          display: inline-block
          padding: 0px 20px 17px
          vertical-align: middle
          position: relative
          width: 100%
          margin-top: 17px
          border-bottom: 1px solid $gray6
          +rwd($pad) 
            display: none
          
        
        .mobile-btn 
          color: inherit
        
        .edit-btns 
          position: relative
          text-align: center
          padding: 15px
          border-bottom: 1px solid $gray6
          +rwd($pad) 
            display: none
          
          >a 
            color: $gray1
            display: inline-block
            font-size: 16px
            font-weight: 500
            margin: 0 12px
            &.logout 
              color: $gray3
              
      +rwd($pad) 
        position: relative
        height: auto
        width: auto
        padding: 0
        +transform(translateX(0%))
        .logo,
        .mobile-btn 
          display: none
          
      ul 
        padding: 15px 0px 15px 55px
        font-size: 16px
        border-bottom: 1px solid $gray6
        +rwd($pad) 
          margin: 0
          padding: 0
          font-size: 15px
          border-bottom: 0px
        
        li 
          opacity: 1
          position: relative
          line-height: 1.5
          text-align: left
          padding: 15px 0 // border-bottom: 1px solid $gray3
          font-weight: 500
          font-size: 14px
          +rwd($pad) 
            +transition(all .2s ease-out)
            border-bottom: 0px
            display: inline-block
            padding: 0px
            opacity: 1
            margin-right: 50px
            &.m 
              display: none
            
            +rwd($desktop) 
              margin-right: 65px
              text-align: center
              &:hover
                color: $blue1
                // &:before 
                  // +transform(scale3d(1, 1, 1))
                  
          // &:before 
          //   content: ""
          //   position: absolute
          //   +transform(scale3d(0, 1, 1))
          //   +transition(transform 0.2s cubic-bezier(0.4, 0, 0.2, 1))
          //   background-color: $blue2
          //   width: 100%
          //   height: 2px
          //   bottom: 0
          //   left: 0
          
          &.active 
            +transform(scale3d(1, 1, 1))
            
        a:first-child li 
          // border-top: 1px solid $gray3
          +rwd($pad) 
            border-top: 0px
            
        &.sub 
          font-size: 13px
          color: $gray3
          border-bottom: 0px
          +rwd($pad)
            display: none
          
          li 
            padding: 10px 0px
          
          .socially 
            a 
              margin-right: 15px
              >i 
                vertical-align: middle
                font-size: 12px
                
      +rwd($pad) 
        .m 
          display: none
          
    &.open 
      +transform(translateX(0%))
      +transition(opacity 400ms ease)
      opacity: 1
      .warp 
        +transition(transform 400ms ease 300ms)
        +transform(translateX(0%))
  
header.index-class
  .menu
    color: #fff
    .warp ul li:hover
      color: #fff
      opacity: .7
  .right-div
    .login-btn.signup
      color: #fff
      border: 0
    .login-btn.pc
      color: #fff
      background-color: $gray1