
@charset "UTF-8"
@import "../setup/setup"   //important include

.mobile-btn 
  position: absolute
  display: inline-block
  top: 5px
  right: 20px
  width: 24px
  height: 24px
  color: $gray1
  i       
    font-size: 24px
  
  +rwd($pad) 
    display: none
.nav-menu
  +zindex("fixmenu")
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  .menu-clear
    width: 100%
    height: 100%
    position: absolute
.menu
  position: absolute
  top: $header_hight
  +zindex("fixmenu")
  left: 0
  width: 100vw
  height: calc( 100vh - #{$header_hight})
  overflow: auto
  -webkit-overflow-scrolling: auto
  background-color: #fff
  +box-shadow(0 1px 3px 0 rgba(0,0,0,0.1))
  +rwd($pad) 
    color: $gray1
    display: inline-block
    width: $nav_width
    vertical-align: middle  
  .warp 
    padding-left: 55px
    position: relative
    padding-top: 30px
    border-bottom: 1px solid $gray6 
    &:nth-last-of-type(2)
      border-bottom: 0px
    .tab-title
      font-size: 12px
      line-height: 17px
      font-weight: 500
      color: $gray3
      margin-bottom: 25px
    .menu-header 
      position: relative
      font-size: 0
      +rwd($pad) 
        height: auto
      
      .h-child 
        display: inline-block
        padding: 0px 20px 17px
        vertical-align: middle
        position: relative
        width: 100%
        margin-top: 17px
        border-bottom: 1px solid $gray6
        +rwd($pad) 
          display: none
        
      
      .mobile-btn 
        color: inherit
      
      .edit-btns 
        position: relative
        text-align: center
        padding: 15px
        border-bottom: 1px solid $gray6
        +rwd($pad) 
          display: none
        
        >a 
          color: $gray1
          display: inline-block
          font-size: 16px
          font-weight: 500
          margin: 0 12px
          &.logout 
            color: $gray3          
    ul 
      font-size: 14px
      +rwd($pad) 
        margin: 0
        padding: 0
        font-size: 15px
        border-bottom: 0px
      
      li 
        opacity: 1
        position: relative
        line-height: 1.5
        text-align: left
        font-weight: 600
        margin-bottom: 30px
        a:hover
          opacity: 0.7
      &.sub 
        font-size: 13px
        color: $gray3
        border-bottom: 0px
        +rwd($pad)
          display: none
        
        li 
          padding: 10px 0px
        
        .socially 
          a 
            margin-right: 15px
            >i 
              vertical-align: middle
              font-size: 12px
  .bottom-div
    position: absolute
    left: 0
    bottom: 25px
    width: 100%
    text-align: center
    a
      font-size: 12px
      color: $gray3
      margin-right: 10px
  
  &-enter-active, &-leave-active
    transition: all .3s
  &-enter,  &-leave-to
    opacity: 0
