
@charset "UTF-8"
@import "../setup/setup"   //important include

.project
  display: inline-block
  text-align: center
  .item
    overflow: hidden
    +box-shadow(0 1px 3px rgba(70,70,70,0.1), 0 1px 2px rgba(70,70,70,0.1))
    +border-radius(3px)
    +transition(all 0.3s cubic-bezier(.25,.8,.25,1))
    width: 290px
    margin: 15px
    +rwd($desktop) 
      &:hover
        +box-shadow( 0 10px 10px rgba(160,160,160,0.1), 0 20px 20px rgba(180,180,180,0.12))
    
    .like-btn
      width: 30px
      height: 30px
      position: absolute
      right: 20px
      top: 15px
      cursor: pointer
      background-color: #fff
      +border-radius(50%)
      opacity: 0
      box-shadow: 0 1px 3px rgba(70,70,70,0.1), 0 1px 2px rgba(70,70,70,0.1)
      +transform(translateX(15px))
      +transition(all .2s ease-in-out .3s)
      i
        color: $red1
        font-size: 18px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -9px
        margin-top: -8px
        
        &.f
          opacity: 0
          +transition(all .2s ease-in-out)
          +rwd($desktop) 
            &:hover
              opacity: 1
              
      &.over 
        +animation(size .5s)
        i.f
          opacity: 1
          
    .pic
      position: relative
      overflow: hidden
      opacity: 1
      border-bottom: 1px solid #f5f5f5
      font-size: 0
      +rwd($desktop) 
        &:hover
          .like-btn
            opacity: 1						
            +transform(translateX(0px))
          
          .edit-div
            opacity: 1
        
      .m-img
        background-color: #f5f5f5
        width: 100%
        position: relative
        display: inline-block
        
        >div 
          position: absolute
          left: 0
          top: 0
          display: inline-block
          width: 100%
          height: 100%
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          
        &:after
          display: block
          position: relative
          content: ""
          margin-top: percentage(23/29)
          
      img
        +transform(translateZ(0))
        +transition(opacity .3s ease-in-out)
        width: 100%
        
      .edit-div
        position: absolute
        right: 10px
        top: 10px
        display: none
        +transition(opacity .2s ease-in)
        opacity: 0
        z-index: 2
        +rwd($desktop) 
          display: block
          
        .s-btn,.m-btn
          display: inline-block
          background-color: rgba(59,61,64,0.5)
          +border-radius(3px)
          cursor: pointer
          vertical-align: top

          i
            padding: 5px
            line-height: 1
            font-size: 20px
            color: #fff
            
        .m-btn
          margin-right: 5px
          i:after
            content: "\EA2C" 

        .e-div
          display: none
          background-color: #FFFFFF
          border: 1px solid #F5F5F5
          +box-shadow(0 2px 4px 0 rgba(0,0,0,0.02))
          +border-radius(3px)
          margin-top: 5px
          right: 0
          position: absolute
          width: 100px
          
          .edit-btn
            border-bottom: 1px solid #F5F5F5
            
        .edit-btn,.del-btn
          color: $gray1
          text-align: center
          padding: 10px 0px

          &:hover
            opacity: .7
            
          i
            display: inline-block
            font-size: 14px
            margin-right: 3px
            vertical-align: middle
            
          span
            vertical-align: middle
            display: inline-block
            font-size: 12px
            
    .b
      overflow: hidden
      position: relative
      
    .dec
      +transition(opacity .3s ease-in-out)
      width: 100%
      font-size: 0
      margin-bottom: 13px
      overflow: hidden
      position: relative
      text-align: left
      .title
        color: $gray1
        font-size: 15px
        font-weight: 500
        line-height: 21px
        
      .m
        display: inline-block
        text-align: left
        vertical-align: bottom
        
      &:after
        display: none
        
    .bottom-btn
      background-color: #fff
      padding: 13px 20px 9px
      font-size: 0
      
      .b
        +display-flex(flex)
        +justify-content(space-between)
        +align-items(center)
        position: relative 
        width: 100%
        >a
          width: 60%
          text-align: left
      .member
        display: inline-block
        vertical-align: middle
        color: $gray1
        font-size: 14px
        +transition(opacity .3s ease)
        height: 25px
        +rwd($desktop) 
          font-size: 13px
          
          &:hover
            opacity: .7
            
        .photo
          display: inline-block				
          vertical-align: middle
          width: 25px
          height: 25px
          border: 1px solid $gray6
          +border-radius(50%)
          overflow: hidden
          margin-right: 5px
          position: absolute
        span
          display: inline-block					
          vertical-align: middle
          font-weight: 500          
          height: 25px
          line-height: 25px
          padding-left: 30px
          
      .datas
        @extend %m-datas
        
  &.load
    .item
      .m-img
        &:before 
          content: ""
          display: inline-block
          width: 600px
          height: 600px
          background-image: linear-gradient( rgba(240, 249, 255, 0.4), rgba(201, 219, 255, 0.4))
          position: absolute
          top: 55%
          left: 50%
          margin-left: -300px
          transform-origin: 50%
          border-radius: 45% 53%
          animation: wave 5s infinite linear
          box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.5)

      .dec,.b
        &:after
          content: ""
          position: absolute
          display: inline-block
          height: 100%
          width: 100%
          background: #f5f5f5
          left: 0
          top: 0
          
        &:before 
          content: ""
          z-index: 2
          display: inline-block
          position: absolute
          background: linear-gradient(to right, rgba(186, 221, 255, 0.1) 0%, rgba(255, 255, 255, 0.95) 41%, rgba(255, 255, 255, 0.8) 60%, rgba(186, 221, 255, 0.1) 100%)
          width: 50%
          height: 100%
          left: 50%
          border-radius: 30% // box-shadow: 0 0 50px 20px #FCFCFC
          +animation(lmove 2s infinite linear)
          
  &.success .item .m-img>div 
    +animation(fadein 400ms ease-out)

  &.ui-sortable-helper .item .pic .edit-div .m-btn i:after
    content: "\EA2C"  
    